/* xhtml2pdf */

/* first page */
@page {
    @frame header_frame {           /* Header Static Frame */
        -pdf-frame-content: header_content;
        top: 1.6cm;
        left: 1.9cm;
        right: 1.9cm;
    }
    @frame content_frame {          /* Content Frame */
        top: 3.8cm;
        left: 1.9cm;
        height: 23.2cm;
        right: 1.9cm;
    }
    @frame footer_frame {           /* Footer Static Frame */
        -pdf-frame-content: footer_content;
        top: 27.8cm;
        left: 1.9cm;
        right: 1.9cm;
    }
}

@page regular_page {
    @frame header_frame {           /* Header Static Frame */
        -pdf-frame-content: header_content;
        top: 1.6cm;
        left: 1.9cm;
        right: 1.9cm;
    }
    @frame content_frame {          /* Content Frame */
        top: 3.8cm;
        left: 1.9cm;
        height: 23.2cm;
        right: 1.9cm;
    }
    @frame footer_frame {           /* Footer Static Frame */
        -pdf-frame-content: footer_content;
        top: 27.8cm;
        left: 1.9cm;
        right: 1.9cm;
    }
}

@page toc_page {
    @frame header_frame {           /* Header Static Frame */
        -pdf-frame-content: header_content;
        top: 1.6cm;
        left: 1.9cm;
        right: 1.9cm;
    }
    @frame content_frame {          /* Content Frame */
        top: 3.8cm;
        left: 1.9cm;
        height: 23.2cm;
    }
    @frame footer_frame {           /* Footer Static Frame */
        -pdf-frame-content: footer_content;
        top: 27.8cm;
        left: 1.9cm;
        right: 1.9cm;
    }
}

/* tags */
.toc-title {
    -pdf-outline: true;
    -pdf-level: 1;
    -pdf-outline-level: 0;
}
.toc-article {
    -pdf-outline: true;
    -pdf-level: 1;
    -pdf-outline-level: 1;
}
.toc_text {
    font-family: "Titillium Web Normal";
}
.index {
    font-weight: bold;
    padding-bottom: 0.2cm;
}
.content {
    font-family: "Titillium Web";
}
h1, h2, h3, h4, h5, h6 {
    -pdf-outline: false;
}
html {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    display: block;
}
table {
    -pdf-keep-with-next: true;
    border: solid 0.1mm #000000;
    overflow-wrap: break-word;
    table-layout: fixed;
}
td, th {
    border: solid 0.1mm #000000;
    text-align: left;
    padding: 1mm;
    vertical-align: middle;
    -pdf-word-wrap: CJK;
}
p {  
    margin: 0 0 3mm 0;
}
p.separator { -pdf-keep-with-next: false; }

/*articles*/
.art {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.text {
    font-size: 10pt;
    text-align: justify;
    margin: 0 0 3mm 0;
}
.section-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.reg-title {
    padding-top: 8cm;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}