{% extends "blocks/regdid_top_button.html" %}
{% load i18n %}
{% load static %}
{% load management_templatetags %}

{% with button_text=button_text|default:"" button_type=button_type|default:"success" button_icon=button_icon|default:"#it-upload" message=message|default:"" approve_or_reopen=approve_or_reopen|default:None regdid_id=regdid_id target_status_cod=target_status_cod %}

{% block modal_extra_class %}
{% if approve_or_reopen %}
    modal-lg
{% endif %}
{% endblock modal_extra_class %}

{% block modal_title %}
    {% trans "Confirm" %}
{% endblock modal_title %}

{% block modal_body %}
    {% if approve_or_reopen %}<div class="h6">{% else %}<p>{% endif %}
        {{message}}
    {% if approve_or_reopen %}</div>{% else %}</p>{% endif %}
    {% if approve_or_reopen %}
    <div class="mt-2">
        <form method="post" enctype="multipart/form-data" action="{% url 'regdid:management:regdid-status-change' regdid_id=regdid.pk status_cod=target_status_cod %}">
            {% include "form_template.html" with form=didatticacdstestatastatusform %}
            <input class="btn btn-success btn-block"
                type="submit"
                id="{{id}}_submitForm"
                value="{% trans 'Yes, proceed' %}">
            </input>
        </form>
    </div>
    {% endif %}
{% endblock modal_body %}

{% block modal_footer %}
    {% if not approve_or_reopen %}
    <a class="btn btn-success btn-sm" href="{% url 'regdid:management:regdid-status-change' regdid_id=regdid.pk status_cod=target_status_cod %}">
        {% trans 'Yes, proceed' %}
    </a>
    {% endif %}
{% endblock modal_footer %}

{% endwith %}