{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_phd">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_phd">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen PhD activity?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_phd:crud_phd_delete' code=phd.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4"/>
<h3 style="font-weight: lighter;" class="mb-4">
    {{ phd.nome_af }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Main Teachers" %}
            </h4>
            {% if teachers %}
            <table class="table table-striped table-hover">
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>
                                {{ teacher.cognome_nome_origine|default:"-" }}
                                {% if not teacher.matricola %}
                                    ({% trans "External" %})
                                {% endif %}
                            </td>
                        <td class="text-right">
                            <a href="{% url 'crud_phd:crud_phd_main_teacher' code=phd.pk  teacher_id=teacher.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a class="btn btn-danger btn-xs"
                               data-toggle="modal"
                               data-target="#delete_teacher_{{ teacher.pk }}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                     <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_teacher_{{ teacher.pk }}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen teacher?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_phd:crud_phd_main_teacher_delete' code=phd.pk teacher_id=teacher.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
            <a href="{% url 'crud_phd:crud_phd_main_teacher_new' code=phd.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Other Teachers" %}
            </h4>
            {% if other_teachers %}
            <table class="table table-striped table-hover">
                <tbody>
                    {% for teacher in other_teachers %}
                    <tr>
                        <td>
                                {{ teacher.cognome_nome_origine|default:"-" }}
                                {% if teacher.matricola %}
                                    ({{ teacher.matricola.matricola|default:"-" }})
                                {% endif %}
                            </td>
                        <td class="text-right">
                            <a href="{% url 'crud_phd:crud_phd_other_teacher' code=phd.pk  teacher_id=teacher.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a class="btn btn-danger btn-xs"
                               data-toggle="modal"
                               data-target="#delete_researcher_{{ researcher.pk }}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                     <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_researcher_{{ researcher.pk }}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen director?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_phd:crud_phd_other_teacher_delete' code=phd.pk teacher_id=teacher.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
            <a href="{% url 'crud_phd:crud_phd_other_teacher_new' code=phd.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
