{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h2>
    {% if choosen_person %}{% trans "Edit teacher for" %}{% else %}{% trans "New teacher for" %}{% endif %} {{ phd.nome_af }}
</h2>
<div class="mt-5">
    {% include "blocks/includes/choose_teacher.html" %}
    <hr />
    <form method="post">
        {% include "form_template.html" with form=form %}
        {% include "includes/form_submit.html" %}
    </form>
</div>
{% endblock centered_container %}
