django>=3.2.20,<5.0
# sudo apt-get install python3-dev default-libmysqlclient-dev build-essential pkg-config
mysqlclient
# uwsgi

django-cors-headers
django-filter

# CRUD
git+https://github.com/silentsokolov/django-admin-rangefilter.git
design-django-theme==1.6.4post4
django-unical-bootstrap-italia==1.2.0
git+https://github.com/UniversitaDellaCalabria/django-organizational-area.git
pillow

# Rest
git+https://github.com/UniversitaDellaCalabria/django-rest-framework.git@agid_oas3

markdown
# openAPI schema v3
uritemplate
pyyaml
cryptography

python-magic

django-ckeditor

requests
