autoflake
autopep8
bandit
black
coverage
flake8
isort

django-silk
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
django>=4.2.24 # not directly required, pinned by Snyk to avoid a vulnerability
