django>=4.2.16,<5.0
# sudo apt-get install python3-dev default-libmysqlclient-dev build-essential pkg-config
mysqlclient
# uwsgi

django-cors-headers
django-filter

# CRUD
git+https://github.com/silentsokolov/django-admin-rangefilter.git
design-django-theme==1.6.4post4
django-unical-bootstrap-italia==1.2.0
git+https://github.com/UniversitaDellaCalabria/django-organizational-area.git
pillow
django-xhtml2pdf
pymupdf

# Rest
# openAPI schema v3
#djangorestframework
git+https://github.com/UniversitaDellaCalabria/django-rest-framework.git@agid_oas3

markdown
uritemplate
pyyaml
cryptography

python-magic

django-ckeditor-5

requests

inflection
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability

cryptojwt

openpyxl

# sudo apt-get install libmemcached-dev
pylibmc

drf_spectacular
