{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_person %}{% trans "Edit teacher link for" %}{% else %}{% trans "New teacher link for" %}{% endif %} {{ regdid.cds.nome_cds_it }} - {{ regdid.aa_reg_did }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <span class="choosen_person_name">
                {% if choosen_person %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a person to proceed" %}
                </div>
                {% endif %}
            </span>
            {% include "blocks/crud_teacherslist.html" with uid="id_1" %}
            <hr />
            <span class="choosen_person_name">
                {% if choosen_person %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a person to proceed" %}
                </div>
                {% endif %}
            </span>
            <hr />
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
