{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_person %}{% trans "Edit responsible for" %}{% else %}{% trans "New responsible for" %}{% endif %} {{ regdid.cds.nome_cds_it }}
</h2>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            {% include "blocks/includes/choose_teacher.html" with include_block="blocks/crud_addressbook.html" %}
            <hr />
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
