{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
     {% trans "Edit other data for" %} {{ regdid.cds.nome_cds_it }} - {{ regdid.aa_reg_did }}
</h3>
{% if other_data %}
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <!-- coordinator -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Coordinator - Link to teacher" %}</th>
                        <th></th>
                        {% if other_data.matricola_coordinatore %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ other_data.matricola_coordinatore|default:"-" }}
                        </td>
                        <td>
                            <a href="{% url 'crud_cds:crud_cds_other_data_coordinator' regdid_id=regdid.pk data_id=other_data.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        {% if other_data.matricola_coordinatore %}
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_coordinator">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                 tabindex="-1"
                                 role="dialog"
                                 id="delete_coordinator">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete choosen teacher?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_other_data_coordinator_delete' regdid_id=regdid.pk data_id=other_data.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

            <!-- deputy coordinator -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Deputy coordinator - Link to teacher" %}</th>
                        <th></th>
                        {% if other_data.matricola_vice_coordinatore %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ other_data.matricola_vice_coordinatore|default:"-" }}
                        </td>
                        <td>
                            <a href="{% url 'crud_cds:crud_cds_other_data_deputy_coordinator' regdid_id=regdid.pk data_id=other_data.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        {% if other_data.matricola_vice_coordinatore %}
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_deputy_coordinator">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                 tabindex="-1"
                                 role="dialog"
                                 id="delete_deputy_coordinator">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete choosen teacher?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_other_data_deputy_coordinator_delete' regdid_id=regdid.pk data_id=other_data.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

            <hr class="my-5">

            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>

        </div>
    </div>
</div>
{% endif %}
{% endblock centered_container %}
