{% load i18n %}
{% load static %}


<!-- Import modal -->
<div class="modal fade"
tabindex="-1"
role="dialog"
id="import_regdid_other_data">
<div class="modal-dialog modal-dialog-centered"
role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            {% trans "Import multimedia contents from previous year" %}
        </h5>
        <button class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close">
        <svg class="icon">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
        </svg>
    </button>
</div>
<div class="modal-body">
    <p>{% trans "Do you really want to import multimedia contents from the previous year?" %}</p>
    <p class="mt-2">
        <b>{% trans "Warning: this operation will overwrite any existing data in the multimedia contents section" %}</b>
    </p>
</div>
<div class="modal-footer">
    <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_regdid_other_data_import' regdid_id=regdid.pk %}">
        {% trans 'Yes, proceed' %}
            </a>
        </div>
    </div>
</div>
</div>
<!-- /Import modal -->

<!-- delete modals -->
{% for regdid_other_data in regdid_other_data_dict.values %}
{% if regdid_other_data.instance %}
<div class="modal fade"
tabindex="-1"
role="dialog"
id="delete_regdid_other_data_{{regdid_other_data.instance.pk}}">
<div class="modal-dialog modal-dialog-centered"
role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close">
                <svg class="icon">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <p>
                {% trans "Do you want to delete this item?" %}
            </p>
        </div>
        <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_regdid_other_data_delete' regdid_id=regdid.pk data_id=regdid_other_data.instance.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<!-- delete modals -->

<div class="d-flex justify-content-start align-items-center mb-2">
    <h4 class="mr-auto" style="font-weight: lighter;">
        {% trans "Multimedia contents" %}
    </h4>
    <a  href="#import_regdid_other_data" 
        class="ml-auto btn btn-warning btn-xs"
        data-toggle="modal"
        data-target="">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-download"></use>
        </svg> {% trans "Import" %}
    </a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead></thead>
        <tbody>
            {% for regdid_other_data_type, regdid_other_data in regdid_other_data_dict.items %}
            <tr class="d-flex text-nowrap">
                <td class="col-2">
                    <p>{{regdid_other_data_type.tipo_testo_regdid_des}}</p>
                </td>
                <td>
                    {% if regdid_other_data.instance %}
                        {% if regdid_other_data.clob_type == "FILE" %}
                        <a href="{% get_media_prefix %}{% if regdid_other_data.instance.clob_txt_ita %}{{ regdid_other_data.instance.clob_txt_ita|urlencode }}{% else %}{{ regdid_other_data.instance.clob_txt_eng|urlencode }}{% endif %}" target="_blank">
                            {% trans "Download" %}
                        </a>      
                        {% elif regdid_other_data.clob_type == "URL" %}
                        <a href="{% if regdid_other_data.instance.clob_txt_ita %}{{ regdid_other_data.instance.clob_txt_ita }}{% else %}{{ regdid_other_data.instance.clob_txt_eng }}{% endif %}" target="_blank">
                            {{regdid_other_data.instance.clob_txt_ita}}
                        </a>    
                        {% else %}
                        <p class="text-truncate" style="max-width: 40vw;">{% if regdid_other_data.instance.clob_txt_ita %}{{ regdid_other_data.instance.clob_txt_ita|striptags }}{% else %}{{ regdid_other_data.instance.clob_txt_eng|striptags }}{% endif %}</p>
                        {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="ml-auto">
                    {% if regdid_other_data.instance %}
                    <a  href="{% url 'crud_cds:crud_cds_regdid_other_data_edit' regdid_id=regdid.pk data_id=regdid_other_data.instance.pk %}" class="btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                    <a  href="javascript:void(0)"
                        class="btn btn-danger btn-xs"
                        data-toggle="modal"
                        data-target="#delete_regdid_other_data_{{regdid_other_data.instance.pk}}">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                        </svg> {% trans "Remove" %}
                    </a>
                    {% else %}
                    <a  href="{% url 'crud_cds:crud_cds_regdid_other_data_new' regdid_id=regdid.pk other_data_type_id=regdid_other_data_type.pk %}" class="btn btn-success btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                        </svg> {% trans "Add" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>