{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<div class="mb-4">
    <h3 style="font-weight: lighter;">
        {{ regdid.cds.nome_cds_it }} - {{ regdid.aa_reg_did }}
    </h3>

    <div class="row">
        <div class="col-12 col-md-auto me-md-4">
            {{ regdid.cds.tipo_corso_des }}
        </div>
    </div>
</div>

<!-- Informazioni sul corso -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Course informations" %}
            </h4>
            {% if other_data %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <div class="mb-3 text-right">
                        <a href="{% url 'crud_cds:crud_cds_other_data_edit' regdid_id=regdid.pk data_id=other_data.pk %}" class="btn btn-primary btn-xs">
                            <svg class="icon icon-xs icon-white">
                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                            </svg> {% trans "Edit" %}
                        </a>
                        <a href="" class="btn btn-danger btn-xs"
                           data-toggle="modal"
                           data-target="#delete_other_data_{{ other_data.pk }}">
                            <svg class="icon icon-xs icon-white">
                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                            </svg> {% trans "Remove" %}
                        </a>
                        <div class="modal fade"
                             tabindex="-1"
                             role="dialog"
                             id="delete_other_data_{{ other_data.pk }}">
                            <div class="modal-dialog modal-dialog-centered"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            {% trans "Confirm" %}
                                        </h5>
                                        <button class="close"
                                                type="button"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                           <svg class="icon">
                                              <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                           </svg>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            {% trans "Do you want to delete data set?" %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_other_data_delete' regdid_id=regdid.pk data_id=other_data.pk %}">
                                            {% trans 'Yes, proceed' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tbody>
                        <tr>
                            <td><b>{% trans "Coordinator" %}</b></td>
                            <td>
                                {{ other_data.nome_origine_coordinatore|default:"-" }}
                                {% if other_data.matricola_coordinatore %}
                                    <br>
                                    ({% trans "Link to" %}: {{ other_data.matricola_coordinatore|default:"-" }})
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Deputy Coordinator" %}</b></td>
                            <td>
                                {{ other_data.nome_origine_vice_coordinatore|default:"-" }}
                                {% if other_data.matricola_vice_coordinatore %}
                                    <br>
                                    ({% trans "Link to" %}: {{ other_data.matricola_vice_coordinatore|default:"-" }})
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Number of seats" %}</b></td>
                            <td>{{ other_data.num_posti|default:"-" }}</td>
                        </tr>
<!--
                        <tr>
                            <td><b>{% trans "Registration procedure" %}</b></td>
                            <td>{{ other_data.modalita_iscrizione|default:"-"|safe }}</td>
                        </tr>
-->
                    </tbody>
                </table>
            </div>
            {% else %}
            <a href="{% url 'crud_cds:crud_cds_other_data_new' regdid_id=regdid.pk %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
<!-- END informazioni sul corso -->

<!-- Dati ufficio -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <h4 style="font-weight: lighter;">
                {% trans "Office data" %}
            </h4>
            {% if office_data %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "Responsible" %}</th>
                            <th>{% trans "Office" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in office_data %}
                        <tr>
                            <td>{{ data.ordine|default:"-" }}</td>
                            <td>
                                {{ data.nome_origine_riferimento|default:"-" }}
                                {% if data.matricola_riferimento %}
                                    <br>
                                    ({% trans "Link to" %}: {{ data.matricola_riferimento|default:"-" }})
                                {% endif %}
                            </td>
                            <td>{{ data.nome_ufficio|default:"-" }}</td>
                            <td class="text-right">
                                <a href="{% url 'crud_cds:crud_cds_office_data_edit' regdid_id=regdid.pk data_id=data.pk %}" class="btn btn-primary btn-xs">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg> {% trans "Edit" %}
                                </a>
                                <a href="" class="btn btn-danger btn-xs"
                                   data-toggle="modal"
                                   data-target="#delete_office_data_{{ data.pk }}">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                    </svg> {% trans "Remove" %}
                                </a>
                                <div class="modal fade"
                                 tabindex="-1"
                                 role="dialog"
                                 id="delete_office_data_{{ data.pk }}">
                                <div class="modal-dialog modal-dialog-centered text-left"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete office data set?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_office_data_delete' regdid_id=regdid.pk data_id=data.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <a href="{% url 'crud_cds:crud_cds_office_data_new' regdid_id=regdid.pk %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>
<!-- END dati ufficio -->

<!-- Gruppi CDS -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Groups" %}
            </h4>
            {% if cds_groups %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Visible" %}</th>
                            <th>{% trans "Members" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in cds_groups %}
                        <tr>
                            <td>{{ group.ordine|default:"-" }}</td>
                            <td><b>{{ group.descr_breve_it }}</b></td>
                            <td>
                                {% if group.visibile %}
                                <svg class="icon icon-sm icon-success">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                                </svg>
                                {% else %}
                                <svg class="icon icon-sm icon-danger">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close-circle"></use>
                                </svg>
                                {% endif %}
                            </td>
                            <td>{{ group.didatticacdsgruppicomponenti_set.count }}</td>
                            <td class="text-right">
                                <a href="{% url 'crud_cds:crud_cds_group' regdid_id=regdid.pk group_id=group.pk %}" class="btn btn-primary btn-xs">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg> {% trans "Edit" %}
                                </a>
                                <a href="" class="btn btn-danger btn-xs"
                                   data-toggle="modal"
                                   data-target="#delete_group_{{ group.pk }}">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                    </svg> {% trans "Remove" %}
                                </a>
                                <div class="modal fade"
                                     tabindex="-1"
                                     role="dialog"
                                     id="delete_group_{{ group.pk }}">
                                    <div class="modal-dialog modal-dialog-centered text-left"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">
                                                    {% trans "Confirm" %}
                                                </h5>
                                                <button class="close"
                                                        type="button"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <svg class="icon">
                                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    {% trans "Do you want to delete this group?" %}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-success btn-sm" href="{% url 'crud_cds:crud_cds_group_delete' regdid_id=regdid.pk group_id=group.pk %}">
                                                    {% trans 'Yes, proceed' %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <a href="{% url 'crud_cds:crud_cds_group_new' regdid_id=regdid.pk %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>
<!-- END gruppi CDS -->

{% comment %}
<!-- Gruppi dipartimento -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Department groups" %}
            </h4>
            {% if department_groups %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Members" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in department_groups %}
                        <tr>
                            <td>{{ group.ordine|default:"-" }}</td>
                            <td>
                                <b>{{ group.descr_breve_it }}</b>
                            </td>
                            <td>
                                {{ group.didatticadipartimentogruppicomponenti_set.count }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- END gruppi dipartimento -->
{% endcomment %}

<!-- Documenti -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <h4 style="font-weight: lighter;">
                {% trans "Documents" %}
            </h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <td>{% trans "Study manifesto" %}</td>
                        <td>
                            {% if other_data.manifesto_studi %}
                            <a href="{% get_media_prefix %}{{ other_data.manifesto_studi }}" target="_blank">
                                {% trans "Download" %}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_cds:cds_doc_manifesto_regulation' regdid_id=regdid.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            {% if other_data.manifesto_studi %}
                            <a href="" class="btn btn-danger btn-xs"
                               data-toggle="modal"
                               data-target="#delete_study_manifesto">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                             tabindex="-1"
                             role="dialog"
                             id="delete_study_manifesto">
                                <div class="modal-dialog modal-dialog-centered text-left"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this file?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:cds_doc_study_manifesto_delete' regdid_id=regdid.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Didactic regulation" %}</td>
                        <td>
                            {% if other_data.regolamento_didattico %}
                            <a href="{% get_media_prefix %}{{ other_data.regolamento_didattico }}" target="_blank">
                                {% trans "Download" %}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_cds:cds_doc_manifesto_regulation' regdid_id=regdid.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            {% if other_data.regolamento_didattico %}
                            <a href="" class="btn btn-danger btn-xs"
                               data-toggle="modal"
                               data-target="#delete_didactic_regulation">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                             tabindex="-1"
                             role="dialog"
                             id="delete_didactic_regulation">
                                <div class="modal-dialog modal-dialog-centered text-left"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this file?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:cds_doc_didactic_regulation_delete' regdid_id=regdid.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Teaching system" %}</td>
                        <td>
                            {% with ord=regdid.get_ordinamento_didattico %}
                            {% if ord %}
                            <a href="{% get_media_prefix %}{{ ord.1 }}" target="_blank">
                                {% trans "Download" %} {% if regdid.aa_reg_did != ord.0  %}(ver. {{ ord.0 }}){% endif %}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_cds:cds_doc_teaching_system' regdid_id=regdid.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            {% if other_data.ordinamento_didattico %}
                            <a href="" class="btn btn-danger btn-xs"
                               data-toggle="modal"
                               data-target="#delete_teaching_system">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                             tabindex="-1"
                             role="dialog"
                             id="delete_teaching_system">
                                <div class="modal-dialog modal-dialog-centered text-left"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this file?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_cds:cds_doc_teaching_system_delete' regdid_id=regdid.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END documenti -->

<!-- Log -->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <h4 style="font-weight: lighter;">Logs RegDID</h4>
            {% include "obj_logs.html" with logs=logs_regdid id=regdid.pk %}
            <hr>
            <h4 style="font-weight: lighter;">Logs CDS</h4>
            {% include "obj_logs.html" with logs=logs_cds id=regdid.cds.pk %}
        </div>
    </div>
</div>
<!-- END log -->
{% endblock centered_container %}
