{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_rline">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_rline">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen teacher?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_base_researchline_delete' code=rline.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<h3>{{ rline.nome }}</h3>
<div class="mt-5">
    <form method="post">
        {% include "form_template.html" with form=form %}
        {% include "includes/form_submit.html" %}
    </form>
    <hr class="my-5">
    <h4>{% trans "Teachers" %}</h4>
    {% if teachers %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Start date" %}</th>
                <th>{% trans "End date" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.personale.cognome }}</td>
                <td>{{ teacher.personale.nome }}</td>
                <td>{{ teacher.personale.matricola }}</td>
                <td>{{ teacher.personale.ds_sede }}</td>
                <td>{{ teacher.dt_inizio|default_if_none:"-" }}</td>
                <td>{{ teacher.dt_fine|default_if_none:"-" }}</td>
                <td>
                    <a href="{% url 'ricerca_crud:crud_base_researchline_teacher_edit' code=rline.pk teacher_rline_id=teacher.pk %}" class="d-flex btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                </td>
                <td>
                    <a href="" class="btn btn-danger btn-xs d-flex"
                       data-toggle="modal"
                       data-target="#delete_teacher_{{ teacher.pk }}">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                        </svg> {% trans "Remove" %}
                    </a>
                </td>
            </tr>
            <div class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 id="delete_teacher_{{ teacher.pk }}">
                <div class="modal-dialog modal-dialog-centered"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% trans "Confirm" %}
                            </h5>
                            <button class="close"
                                    type="button"
                                    data-dismiss="modal"
                                    aria-label="Close">
                               <svg class="icon">
                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                               </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {% trans "Do you want to delete choosen teacher?" %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_base_researchline_teacher_delete' code=rline.pk teacher_rline_id=teacher.pk %}">
                                {% trans 'Yes, proceed' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
    <a href="{% url 'ricerca_crud:crud_base_researchline_teacher_new' code=rline.pk %}" class="btn btn-block btn-primary">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
        </svg> {% trans "Add new" %}
    </a>

    <hr class="my-5">
    <h4>Logs</h4>
    {% include "obj_logs.html" with logs=logs %}
</div>
{% endblock centered_container %}
