{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_cds">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_cds">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<hr />
<h3>{{ cds.nome_cds_it }}</h3>
{% if other_data %}
<div class="mt-5">
    <hr class="my-5">
    <h4>{% trans "Coordinator and Deputy Coordinator" %}</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Coordinator" %}</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ other_data.matricola_coordinatore|default_if_none:"-" }} </td>

                <td>
                    <a class="d-flex btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Deputy coordinator" %}</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ other_data.matricola_vice_coordinatore|default_if_none:"-" }}</td>
                <td>
                    <a class="d-flex btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        {% include "form_template.html" with form=form %}
        {% include "includes/form_submit.html" %}
    </form>
<hr class="my-5">
    <h4>Logs</h4>
    {% include "obj_logs.html" with logs=logs %}
</div>
{% endif %} }
{% endblock centered_container %}