{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h2>
    {% if choosen_teacher %}{% trans "Edit teacher for" %}{% else %}{% trans "New teacher for" %}{% endif %} {{ cds.nome_cds_it }}
</h2>
<div class="mt-5">
    <form method="post">
        {% include "blocks/crud_teacherslist.html" with uid="id_1" %}
        <hr />
        <span id="choosen_teacher_name">
            {% if choosen_teacher %}
            <div class="alert alert-success" role="alert">
                {% trans 'Choosen teacher:' %} <b>{{ choosen_teacher }}</b>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
              {% trans "Choose a teacher to proceed" %}
            </div>
            {% endif %}
        </span>
        <hr />
        {% include "form_template.html" with form=form %}
        {% include "includes/form_submit.html" %}
    </form>
</div>
{% endblock centered_container %}
