{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_company">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_company">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen company?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_company_delete' code=company.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<h3>{{ company.nome_azienda }}</h3>
<div class="mt-5">
    <form method="post" enctype="multipart/form-data">
        {% include "form_template.html" with form=form %}
        {% include "includes/form_submit.html" %}
    </form>
    <hr class="my-5">

    <!-- deputy coordinator -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Unical Referent (find in database)" %}</th>
                <th></th>
                {% if company.matricola_referente_unical %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ company.matricola_referente_unical|default:"-" }}
                </td>
                <td>
                    <a href="{% url 'ricerca_crud:crud_company_unical_referent_data' code=company.pk data_id=referent_data.pk %}" class="d-flex btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                </td>
                {% if company.matricola_referente_unical %}
                <td>
                    <a href="" class="btn btn-danger btn-xs d-flex"
                       data-toggle="modal"
                       data-target="#delete_unical_referent">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                        </svg> {% trans "Remove" %}
                    </a>
                    <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_unical_referent">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen teacher?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_company_unical_referent_data_delete' code=company.pk data_id=referent_data.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <h4>{% trans "Departments" %}</h4>
    {% if departments %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Departments" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>
                        {{ department.nome_origine_dipartimento|default:"-" }}
                    </td>
                <td>
                    <a href="{% url 'ricerca_crud:crud_company_unical_department_data_edit' code=company.pk  department_id=department.pk %}" class="d-flex btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                        </svg> {% trans "Edit" %}
                    </a>
                </td>
                <td>
                    <a href="" class="btn btn-danger btn-xs d-flex"
                       data-toggle="modal"
                       data-target="#delete_department_{{ department.pk }}">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                        </svg> {% trans "Remove" %}
                    </a>
                </td>
            </tr>
            <div class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 id="delete_department_{{ department.pk }}">
                <div class="modal-dialog modal-dialog-centered"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% trans "Confirm" %}
                            </h5>
                            <button class="close"
                                    type="button"
                                    data-dismiss="modal"
                                    aria-label="Close">
                               <svg class="icon">
                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                               </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {% trans "Do you want to delete choosen department?" %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_company_unical_department_data_delete' code=company.pk department_id=department.pk %}">
                                {% trans 'Yes, proceed' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
    <a href="{% url 'ricerca_crud:crud_company_unical_department_data_new' code=company.pk %}" class="btn btn-block btn-primary">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
        </svg> {% trans "Add new" %}
    </a>

    <hr class="my-5">
    <h4>Logs</h4>
    {% include "obj_logs.html" with logs=logs %}
</div>
{% endblock centered_container %}
