{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h2>{% trans "New patent" %}</h2>
<div class="mt-5">
    <form method="post">
        {% include "form_template.html" with form=form %}
        <hr />
        <h4>{% trans "Choose one inventor" %}</h4>
        <div class="mt-5">
            {% include "form_template.html" with form=inventor_form %}
            {% include "blocks/crud_teacherslist.html" with uid="id_1" url=teachers_api %}
            <hr />
            <span id="choosen_person_name">
                {% if choosen_person %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a person to proceed" %}
                </div>
                {% endif %}
            </span>
            <hr />
        </div>
        {% include "includes/form_submit.html" %}
    </form>
</div>
{% endblock centered_container %}
