{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="{% url 'ricerca_crud:crud_researchgroup_new' %}" class="btn btn-success btn-xs">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
    </svg> {% trans "Add new" %}
</a>
<hr />
<h3>{% trans "Research groups" %}</h3>
<div class="mt-5">
    {% include "blocks/crud_researchgroups.html" with uid="id_1" %}
</div>
{% endblock centered_container %}
