{% load i18n %}
{% load static %}

<table class="table table-sm table-striped table-responsive-sm">
    <thead>
        <tr class="d-flex">
            <th class="col">{% trans "Objects" %}</th>
            <th class="col-2 text-center text-truncate">{% trans "Type" %}</th>
            <th class="col-2 text-center text-truncate">{% trans "Order" %}</th>
            <th class="col-2 text-center text-truncate">{% trans "Visible" %}</th>
            <th class="col-auto text-right">
                <a  tabindex="0"
                    href="javascript:void(0)"
                    role="button"
                    data-toggle="popover"
                    data-trigger="focus"
                    data-html="true"
                    title="{{popover_title_content.portal_objects.title}}"
                    data-content="{{popover_title_content.portal_objects.content}}">
                    <svg class="icon pb-1">
                        <use href="{% static 'svg/sprite.svg' %}#it-help-circle"></use>
                    </svg>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for object in topic_obj_regarts.objects %}
            <!-- Object Delete Modal -->
            <div class="modal fade"
                tabindex="-1"
                role="dialog"
                id="delete_object_{{object.id}}">
                <div class="modal-dialog modal-dialog-centered"
                        role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% trans "Confirm" %}
                            </h5>
                            <button class="close"
                                    type="button"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <svg class="icon">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {% trans "Do you want to remove this object from this topic?" %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-sm" href="{% url 'cds-websites:management:cds-websites-object-delete' cds_id=cds.cds_id topic_id=topic_obj_regarts.topic.id data_id=object.id %}">
                                {% trans 'Yes, proceed' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Object Delete Modal -->
            <tr class="d-flex">
                <td class="col">
                    {{ object.titolo_it }}
                </td>
                <td class="col-2 text-center text-truncate">
                    {{ object.sito_web_cds_oggetti_portale.id_classe_oggetto_portale }}
                </td>
                <td class="col-2 text-center text-truncate">
                    {{ object.ordine }}
                </td>
                <td class="col-2 text-center text-truncate">
                    {% if object.visibile %}
                    <svg class="icon icon-sm icon-success">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                    </svg>
                    {% else %}
                    <svg class="icon icon-sm icon-danger">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
                    </svg>
                    {% endif %}
                </td>
                <td class="col-auto text-right">
                    <div class="btn-group">
                        <a href="javascript:void(0)" type="button" class="btn dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="icon">
                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                            </svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="link-list-wrapper">
                                <ul class="link-list text-nowrap">
                                    <li>
                                        <a  href="{% url 'cds-websites:management:cds-websites-object-edit' cds_id=cds.cds_id topic_id=topic_obj_regarts.topic.id data_id=object.id %}"
                                            class="list-item left-icon">
                                            {% if user_can_edit %}
                                            <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                            </svg>
                                            <span class="text-primary">
                                                {% trans "Edit" %}
                                            </span>
                                            {% else %}
                                                <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                                                </svg>
                                                <span class="text-primary">
                                                    {% trans "View" %}
                                                </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="{% url 'cds-websites:management:cds-websites-extras' cds_id=cds.cds_id topic_id=topic_obj_regarts.topic.id data_id=object.id %}"
                                            class="list-item left-icon">
                                            <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-list"></use>
                                            </svg>
                                            <span class="text-primary">
                                                {% trans "Extras" %}
                                            </span>
                                        </a>
                                    </li>
                                    {% if user_can_edit %}
                                        <li>
                                            <span class="divider"></span>
                                        </li>
                                        <li>
                                            <a  href="javascript:void(0)"
                                                class="list-item left-icon"
                                                data-toggle="modal"
                                                data-target="#delete_object_{{object.id}}">
                                                <svg class="icon icon-danger left p-1 pl-2 mt-2">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                                </svg>
                                                <span class="text-danger">
                                                {% trans "Remove" %}
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% if topic_obj_regarts.objects|length < 1 %}
            <tr class="d-flex">
                <td class="col">
                    {% trans "None" %}
                </td>
                <td class="col-2 text-center text-truncate">
                    -
                </td>
                <td class="col-2 text-center text-truncate">
                    -
                </td>
                <td class="col-2 text-center text-truncate">
                    -
                </td>
                <td class="col-auto text-right">
                    <svg class="icon" style="visibility: hidden;">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                    </svg>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% if user_can_edit %}
<a  href="{% url 'cds-websites:management:cds-websites-object-add' cds_id=cds.cds_id topic_id=topic_obj_regarts.topic.id %}"
    class="btn btn-xs btn-block btn-success">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
    </svg> {% trans "Add new" %}
</a>
{% endif %}