{% load i18n %}
{% load static %}

<table class="table table-sm table-striped table-responsive-sm">
    <thead>
        <tr class="d-flex">
            <th class="col">{% trans "Articles" %}</th>
            <th class="col-2 text-center text-truncate">{% trans "Order" %}</th>
            <th class="col-2 text-center text-truncate">{% trans "Visible" %}</th>
            <th class="col-auto">
                <svg class="icon" style="visibility: hidden;">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                </svg>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for regart in topic_obj_regarts.regarts %}
        <tr class="d-flex">
            <td class="col">
                {{ regart.titolo_it }}
            </td>
            <td class="col-2 text-center text-truncate">
                {{ regart.ordine }}
            </td>
            <td class="col-2 text-center text-truncate">
                {% if regart.visibile %}
                    <svg class="icon icon-sm icon-success">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                    </svg>
                    {% else %}
                    <svg class="icon icon-sm icon-danger">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
                    </svg>
                {% endif %}
            </td>
            <td class="col-auto text-right">
                <div class="btn-group">
                    <a href="javascript:void(0)" type="button" class="btn dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                        </svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="link-list-wrapper">
                            <ul class="link-list text-nowrap">
                                <li>
                                    <a href="{% url 'cds-websites:management:cds-websites-article-edit' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=regart.id %}"
                                        class="list-item left-icon">
                                        {% if user.is_superuser %}
                                            <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                            </svg>
                                            <span class="text-primary">
                                                {% trans "Edit" %}
                                            </span>
                                        {% else %}
                                            <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                                            </svg>
                                            <span class="text-primary">
                                                {% trans "View" %}
                                            </span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a  href="{% url 'cds-websites:management:cds-websites-sub-articles' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=regart.id %}"
                                        class="list-item left-icon">
                                        <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-list"></use>
                                        </svg>
                                        <span class="text-primary">
                                            {% trans "Sub articles" %}
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a  href="{% url 'cds-websites:management:cds-websites-extras' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=regart.id %}"
                                        class="list-item left-icon">
                                        <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-list"></use>
                                        </svg>
                                        <span class="text-primary">
                                            {% trans "Extras" %}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% if topic_obj_regarts.regarts|length < 1 %}
        <tr class="d-flex">
            <td class="col">
                {% trans "None" %}
            </td>
            <td class="col-2 text-center text-truncate">
                -
            </td>
            <td class="col-2 text-center text-truncate">
                -
            </td>
            <td class="col-auto text-right">
                <svg class="icon" style="visibility: hidden;">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                </svg>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>