{% load i18n %}


<span class="{{person_lable}}_name">
    {% if person %}
    <div class="alert alert-success" role="alert">
        {% trans 'Choosen person' %} <b>{{ person }}</b>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        {% if required %}
            {% trans "Choose a person to proceed" %}
        {% else %}
            {% trans "Choose a person" %}
        {% endif %}
    </div>
    {% endif %}
</span>
{% include include_block|default:"blocks/crud_laboratories_teachers_list.html" with person_lable=person_lable person=person uid=uid|add:person_lable|default:"id_1" %}
<hr />
<span class="{{person_lable}}_name">
    {% if person %}
    <div class="alert alert-success" role="alert">
        {% trans 'Choosen person' %} <b>{{ person }}</b>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        {% if required %}
            {% trans "Choose a person to proceed" %}
        {% else %}
            {% trans "Choose a person" %}
        {% endif %}
    </div>
    {% endif %}
</span>
