{% load i18n %}


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1" role="tab" aria-controls="nav-tab1" aria-selected="true">
            Docente interno
        </a>
        <a class="nav-item nav-link" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false">
            Docente esterno
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane p-4 fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
        {% if not exclude_forms %}
        <form method="post" novalidate>
        {% endif %}
            {% include "blocks/crud_laboratories_choose_person.html" with person=person person_lable=person_lable %}
            {% include "form_template.html" with form=internal_form %}
        {% if not exclude_forms and not new_laboratory %}
            {% include "includes/form_submit.html" %}
        </form>
        {% endif %}
    </div>
    <div class="tab-pane p-4 fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
        {% if not exclude_forms %}
        <form method="post" novalidate>
        {% endif %}
            {% include "form_template.html" with form=external_form %}
        {% if not exclude_forms and not new_laboratory%}
            {% include "includes/form_submit.html" %}
        </form>
        {% endif %}
    </div>
</div>
