{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_person %}{% trans "Edit inventor for" %}{% else %}{% trans "New inventor for" %}{% endif %} {{ patent.titolo }}
</h3>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "blocks/includes/choose_teacher.html" with input_field="id_cognomenome_origine" %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

{% endblock centered_container %}
