{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "New patent" %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% include "form_template.html" with form=form %}
                <hr />
                <h4 style="font-weight: lighter;">{% trans "Choose one inventor" %}</h4>
                <div class="mt-5">
                    {% include "form_template.html" with form=inventor_form %}
                    {% include "blocks/includes/choose_teacher.html" %}
                    {% include "includes/form_submit.html" %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
