{% extends "includes/vue_list.html" %}

{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% block content %}

{% block storage_block_top %}
{% include "blocks/includes/vue_check.html" %}
{% endblock storage_block_top %}

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    {% block search %}
                    <div class="card card-bg no-after">
                        <div class="card-body">

                            {% include "includes/vue_search_input.html" with id=id %}

                            {% block filters %}
                            <div class="form-group mb-0">

                                {% block filter_department %}
                                <!-- Department -->
                                <div class="row">
                                    <loading-icon
                                        v-if="is_loading_departments"
                                        :loader_source="loader_source_departments">
                                    </loading-icon>

                                    <div class="col-sm" v-else>
                                        <div>
                                            <label for="{{ id }}_department_input">
                                                {% trans "Department" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_department_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_department_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in departments"
                                                            :value="item.DepartmentCod"
                                                            :selected="item.DepartmentCod == selected_department">
                                                        [[ item.DepartmentName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endblock filter_department %}

                            </div>
                            {% endblock filters %}
                        </div>
                    </div>
                    {% endblock search %}
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="(item, index) in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border:1px solid #b71918">
                            <div class="card-body p-3">

                                <div id="researchLineDiv{{ id }}-lft"
                                     class="collapse-div collapse-left-icon d-inline-block"
                                     role="tablist"
                                     style="border: none">
                                    <div class="collapse-header" :id="'headingResearchLine{{ id }}-lft'+index">
                                        <button data-toggle="collapse"
                                                :data-target="'#collapseResearchLine{{ id }}-lft'+index"
                                                aria-expanded="false"
                                                :aria-controls="'collapseResearchLine{{ id }}-lft'+index"
                                                style="border: none; padding: 0">
                                            <b>
                                                <a class="no-color">
                                                    <b>[[ item.RLineDescription ]]</b>
                                                </a>
                                            </b>
                                        </button>
                                    </div>
                                    <div :id="'collapseResearchLine{{ id }}-lft'+index"
                                         class="collapse"
                                         role="tabpanel"
                                         :aria-labelledby="'headingResearchLine{{ id }}-lft'+index">
                                        <div class="collapse-body">
                                            <div class="row" v-if="item.RLineResults">
                                                <div class="col-12 col-md-auto">
                                                    <span v-html="item.RLineResults"></span>
                                                </div>
                                            </div>
                                            <div class="row mt-2" v-if="item.RYear">
                                                <div class="col-12 col-md-auto" v-if="item.RYear">
                                                    <small>
                                                        [[ labels['RYear'] ]] >
                                                        <b>[[ item.RYear ]]</b>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row mt-2" v-if="item.Teachers && item.Teachers.length > 0">
                                                <div class="col-12 col-md-auto" v-if="item.Teachers.length > 0">
                                                    <small>
                                                        [[ labels['Teachers'] ]] >
                                                        <b v-for="(teacher, index) in item.Teachers">
                                                            <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teacher_prefix }}/' + teacher.TeacherID +'/'" v-if="teacher.TeacherID">
                                                                [[ teacher.TeacherName ]]
                                                            </a>
                                                            <span v-else>
                                                                [[ teacher.TeacherName ]]
                                                            </span>
                                                            <span v-if="index != item.Teachers.length -1">,&nbsp;</span>
                                                        </b>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row mt-2" v-if="item.RLineErc2Name">
                                                <div class="col-12 col-md-auto" v-if="item.RLineErc2Name">
                                                    <small>
                                                        {% trans "Ref. ERC" %} >
                                                        <b>[[ item.RLineErc2Name ]]</b>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row mt-2" v-if="item.RLineAster2Name">
                                                <div class="col-12 col-md-auto" v-if="item.RLineAster2Name">
                                                    <small>
                                                        {% trans "Ref. ASTER" %} >
                                                        <b>[[ item.RLineAster2Name ]]</b>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a :href="item.RLineID+'/'" class="btn btn-sm btn-primary float-right">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg> {% trans "Edit" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

{% block storage_block_bottom %}
    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock storage_block_bottom %}

{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict = {}

    if (keyword)
        dict[keyword] = value

    {% block researchline_search_input %}
    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value
    {% endblock researchline_search_input %}

    {% block researchline_filter_input %}

        {% block department_filter_input %}
        // department
        let department = document.getElementById('{{ id }}_department_input')
        if (department && department.value) dict['department'] = department.value
        {% endblock department_filter_input %}

        // aster1
        let aster1_container = document.getElementById('{{ id }}_aster1_container')
        let aster1 = document.getElementById('{{ id }}_aster1_input')
        let aster1_selected = [];
        if(aster1)
            for (var option of aster1.options)
            {
                if (option.selected) {
                    aster1_selected.push(option.value);
                }
            }
        let aster1_values = aster1_selected.join(",")
        if(aster1_selected) dict['asters'] = aster1_selected

        // erc1
        let erc1_container = document.getElementById('{{ id }}_erc1_container')
        let erc1 = document.getElementById('{{ id }}_erc1_input')
        let erc1_selected = [];
        if(erc1)
            for (var option of erc1.options)
            {
                if (option.selected) {
                    erc1_selected.push(option.value);
                }
            }
        let erc1_values = erc1_selected.join(",")
        if(erc1_selected) dict['ercs'] = erc1_selected

        // type
        let type = document.getElementById('{{ id }}_research_line_type')
        if (type && type.value == 'applied') {
            dict['exclude_base'] = 1
            if (aster1_container) aster1_container.style.display = 'block';
            if (erc1_container) erc1_container.style.display = 'none';
            delete dict.ercs
        }
        else if (type && type.value == 'base') {
            dict['exclude_applied'] = 1
            if (aster1_container) aster1_container.style.display = 'none';
            if (erc1_container) erc1_container.style.display = 'block';
            delete dict.asters
        }
        else {
            if (aster1_container) aster1_container.style.display = 'block';
            if (erc1_container) erc1_container.style.display = 'block';
        }

    {% endblock researchline_filter_input %}

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}

{% get_current_language as LANGUAGE_CODE %}

search_dict: {},
departments: [],

is_loading_departments: true,
is_loading_aster1: true,
is_loading_erc1: true,

loader_source_departments: '{% url 'ricerca:departmentslist' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_erc1: '{% url 'ricerca:aster1list' %}?lang={{ LANGUAGE_CODE }}',
loader_source_erc1: '{% url 'ricerca:erc1list' %}?lang={{ LANGUAGE_CODE }}',

selected_department: this.getItemFromSession("{{ id }}", 'department'),
selected_search: this.getItemFromSession("{{ id }}", 'search'),
selected_aster1: (this.getItemFromSession("{{ id }}", 'aster') || ""),
selected_erc1: (this.getItemFromSession("{{ id }}", 'ercs') || ""),

exclude_base: this.getItemFromSession("{{ id }}", 'exclude_base'),
exclude_applied: this.getItemFromSession("{{ id }}", 'exclude_applied'),

{% endblock extra_data %}

{% block extra_mounted %}

    this.callDepartments();
    this.callAster1List();
    this.callERC1List();

    this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}

{% block extra_methods %}

    {% block researchlines_call_method %}
    callDepartments() {
        axios
            .get(this.loader_source_departments)
            .then(response => {
                this.departments = response.data.results;
                this.is_loading_departments = false
            })
    },
    callAster1List(params) {
        axios
            .get(this.loader_source_aster1)
            .then(response => {
                this.aster1_list = response.data.results;
                this.is_loading_aster1 = false
            })
    },
    callERC1List(params) {
        axios
            .get(this.loader_source_erc1)
            .then(response => {
                this.erc1_list = response.data.results;
                this.is_loading_erc1 = false
            })
    },
    {% endblock researchlines_call_method %}

{% endblock extra_methods %}
</script>
