{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}
{% load management_templatetags %}


{% block centered_container %}

{% random_id uid as i_id %}

<!-- Status change modal -->
<div class="modal fade"
    tabindex="-1"
    role="dialog"
    id="{{i_id}}">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Import regulation from PDF" %}
                </h5>
                <button class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                    <svg class="icon">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <span>{% trans "This operation cannot be undone, do you really want to proceed?" %}</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block m-0 mt-2"
                        type="submit"
                        form="{{i_id}}_form"
                        id="{{i_id}}_submitForm">
                        {% trans 'Yes, proceed' %}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Status change modal -->

<div>
    <div class="row m-1">
        <div class="col align-self-end">
            <span>{% trans "Import from PDF" %}</span>
            <div class="h3" style="font-weight: lighter;">{{item_label|safe}}</div>
        </div>
        <div class="col-xs align-self-end mb-2">
            {% if show_goto_regdid_button %}
                <a  href="{% url 'regdid:management:regdid-articles' regdid_id=regdid.pk %}"
                class="btn btn-primary btn-icon btn-xs">
                {% trans "Go to regulation" %}
                <svg class="icon icon-sm icon-white ml-1">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-right-circle"></use>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
    <form id="{{i_id}}_form" method="post" enctype="multipart/form-data" novalidate>
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after mb-4">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <a  tabindex="0"
                            href="javascript:void(0)"
                            role="button"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-placement="left"
                            data-html="true"
                            title="INFO"
                            data-content="{% trans 'Uploading a document will cause most of its formatting to be lost, it is therefore necessary that each article is re-formatted by hand through the editor' %}">
                            <svg class="icon">
                                <use href="{% static 'svg/sprite.svg' %}#it-help-circle"></use>
                            </svg>
                        </a>
                    </div>
                    {% include "form_template.html" with form=form %}
                    <a  href="javascript:void(0)"
                        data-toggle="modal"
                        data-target="#{{i_id}}"
                        class="btn btn-block btn-success mt-2">
                        <svg class="icon icon-xs icon-white mb-1">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-upload"></use>
                        </svg>
                        {% trans "Upload" %}
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

{% block extra_scripts %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $('.popover-dismiss').popover({
        trigger: 'focus',
      });
</script>
{% endblock extra_scripts %}

{% endblock centered_container %}