{% extends "cds_websites_brochure_unique_form.html" %}

{% load i18n %}
{% load static %}

{% block title %}
{% endblock title %}

{% block form_container %}
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body mt-4">

            <h3 style="font-weight: normal;" class="mb-4 pb-4">
                {{ cds_website.cds.cds_cod }} -
                {% if LANGUAGE_CODE == "it" or not cds_website.cds.nome_cds_eng %}
                    {{ cds_website.cds.nome_cds_it }}
                {% else %}
                    {{ cds_website.cds.nome_cds_eng }}
                {% endif %}
            </h3>

            <ul class="nav nav-tabs nav-justified" id="brochure-tabs" role="tablist">
                {% for tab, form in forms.items %}
                {% with trimmed_tab=tab|cut:" " %}
                    <li class="nav-item">
                        <a  class="nav-link {% if forloop.first and not last_viewed_tab or last_viewed_tab == tab %}active{% endif %}" id="{{trimmed_tab}}-nav-item"
                            data-toggle="tab" href="#{{trimmed_tab}}-tab"
                            role="tab" aria-controls="{{trimmed_tab}}-tab"
                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                            {{tab}}
                        </a>
                    </li>
                {% endwith %}
                {% endfor %}
            </ul>

            <div class="tab-content pt-2" id="brochure-tabsContent">
                {% for tab, form in forms.items %}
                {% with trimmed_tab=tab|cut:" " %}
                <div class="tab-pane p-4 mt-3 fade {% if forloop.first and not last_viewed_tab or last_viewed_tab == tab %}show active{% endif %}"
                     id="{{trimmed_tab}}-tab"
                     role="tabpanel"
                     aria-labelledby="{{trimmed_tab}}-tab">

                    {% if not forloop.0 %}
                    <ul class="list-unstyled">
                        <li>
                            <b>{% trans "Course name (it)" %}</b>
                            <br>
                            {{ cds_website.cds.nome_cds_it }}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Course name (en)" %}</b>
                            <br>
                            {{ cds_website.cds.nome_cds_eng }}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Academic year" %}</b>
                            <br>
                            {{ cds_website.aa }}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Course class" %}</b>
                            <br>
                            {{ cds_website.cds.cla_miur_cod }} {{ cds_website.cds.cla_miur_des }}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Course interclass" %}</b>
                            <br>
                            {% if cds_website.cds.intercla_miur_cod and cds_website.cds.intercla_miur_des %}
                                {{ cds_website.cds.intercla_miur_cod }} {{ cds_website.cds.intercla_miur_des }}
                            {% else %}
                                -
                            {% endif %}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Duration (Years)" %}</b>
                            <br>
                            {{ cds_website.cds.durata_anni }}
                        </li>
                        <li class="mt-3">
                            <b>{% trans "Languages" %}</b>
                            <br>
                            {% for lang in languages %}
                            {% if forloop.0 %}
                            ,
                            {% endif %}
                            {% if LANGUAGE_CODE == "it" or not cds_website.cds.nome_cds_eng %}
                                {{ lang.lingua_des_it }}
                            {% else %}
                                {{ lang.lingua_des_eng }}
                            {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    {% endif %}

                     <form method="post" enctype="multipart/form-data" novalidate>
                        {% include "form_template.html" with form=form %}
                        <input type="hidden" name="tab_form_dict_key" maxlength="2000" id="id-{{trimmed_tab}}-dict-key" value="{{tab}}">
                        <br />
                        {% include "includes/form_submit.html" %}
                    </form>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock form_container %}

{% block after_forms %}
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock after_forms %}
