{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body mt-4">
            <h3 style="font-weight: normal;" class="mb-4 pb-4">
                {% if LANGUAGE_CODE == "it" or not cds_website.nome_corso_en %}
                {{ cds_website.nome_corso_it }}
                {% else %}
                {{ cds_website.nome_corso_en }}
                {% endif %}
                -
                ({% trans "cds in brief sections" %})
            </h3>
            <div class="container">
                <!-- Info -->
                {% trans "Info" as title %}
                {% include "blocks/includes/cds_websites_brochure_item.html" with title=title redirect_url='crud_cds_websites_brochure:crud_cds_websites_brochure_info_edit' %}
                <!-- /Info -->
                <hr />
                <!-- Sliders -->
                {% trans "Sliders" as title %}
                {% include "blocks/includes/cds_websites_brochure_item.html" with title=title redirect_url='crud_cds_websites_brochure:crud_cds_websites_brochure_sliders' %}    
                <!-- /Sliders -->
                <hr />
                <!-- Ex Students -->
                {% trans "Ex Students" as title %}
                {% include "blocks/includes/cds_websites_brochure_item.html" with title=title redirect_url='crud_cds_websites_brochure:crud_cds_websites_brochure_exstudents' %}    
                <!-- /Ex Students -->
                <hr />
                <!-- Links -->
                {% trans "Links" as title %}
                {% include "blocks/includes/cds_websites_brochure_item.html" with title=title redirect_url='crud_cds_websites_brochure:crud_cds_websites_brochure_links' %}
                <!-- /Links -->
            </div>
        </div>
    </div>
</div>

{% endblock centered_container %}
