{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_rgroup">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_rgroup">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen teacher?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_research_groups:crud_researchgroup_delete' code=rgroup.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4"/>
<h3 class="mb-4" style="font-weight: lighter;">{{ rgroup.nome }}</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Teachers" %}</h4>
            {% if teachers %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Surname" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Badge" %}</th>
                        <th>{% trans "Structure" %}</th>
                        <th>{% trans "From" %}</th>
                        <th>{% trans "To" %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.personale.cognome }}</td>
                        <td>{{ teacher.personale.nome }}</td>
                        <td>{{ teacher.personale.matricola }}</td>
                        <td>{{ teacher.personale.ds_sede }}</td>
                        <td>{{ teacher.dt_inizio|default:"-" }}</td>
                        <td>{{ teacher.dt_fine|default:"-" }}</td>
                        <td>
                            <a href="{% url 'crud_research_groups:crud_researchgroup_teacher_edit' code=rgroup.pk teacher_rgroup_id=teacher.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_teacher_{{ teacher.pk }}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                    <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_teacher_{{ teacher.pk }}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen teacher?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_research_groups:crud_researchgroup_teacher_delete' code=rgroup.pk teacher_rgroup_id=teacher.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
            <a href="{% url 'crud_research_groups:crud_researchgroup_teacher_new' code=rgroup.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
