{% extends "includes/vue_list.html" %}

{% load i18n %}
{% load static %}
{% load ricerca_crud %}

{% block content %}

{% block storage_block_top %}
{% include "blocks/includes/vue_check.html" %}
{% endblock storage_block_top %}

{#{% get_allowed_website request.get_host as host %}#}
{#{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}#}
{#{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}#}
{#{% storage_settings_value "CMS_STORAGE_PHD_ACTIVITIES_VIEW_PREFIX_PATH" as phd_activities_prefix %}#}
{#{% storage_settings_value "CMS_STORAGE_TEACHER_VIEW_PREFIX_PATH" as teachers_prefix %}#}
{#{% storage_settings_value "CDS_EXCLUDE_YEAR" as cds_exclude_year %}#}


<div id="{{ id }}">

    <div v-if="(initial_items && initial_items.length) || parameters">

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md">
                                    <div class="input-group">
                                        <label for="{{ id }}_search"></label>
                                        <input type="text"
                                               class="form-control"
                                               id="{{ id }}_search"
                                               name="{{ id }}_search"
                                               v-model="selected_search"
                                               v-on:keyup.enter="{{ id }}.search({{ input_args }})">
                                        <div class="input-group-append">
                                            {% comment %}
                                            <div class="input-group-text">
                                                <svg class="icon icon-sm icon-muted">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-search"></use>
                                                </svg>
                                            </div>
                                            {% endcomment %}

                                        {% include "includes/vue_search_button.html" with id=id %}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mt-3 mt-lg-0">
                                    <div class="input-group">
                                                <label for="{{ id }}_teacher"></label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="{{ id }}_teacher"
                                                       name="{{ id }}_teacher"
                                                       placeholder="{% trans 'Teacher' %}"
                                                       v-model="selected_teacher"
                                                       v-on:keyup.enter="{{ id }}.search({{ input_args }})">
                                                <div class="input-group-append">
                                                    {% comment %}
                                                    <div class="input-group-text">
                                                        <svg class="icon icon-sm icon-muted">
                                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-search"></use>
                                                        </svg>
                                                    </div>
                                                    {% endcomment %}

                                                    {% include "includes/vue_search_button.html" with id=id %}


                                                </div>
                                    </div>
                                </div>
                            </div>

                            {% block filters_phdactivitieslist %}
                            <div class="form-group mb-0">

                                <!-- Academic year & language -->
                            {% block filters_phd %}
                                <div class="row">
                                    <loading-icon
                                        v-if="is_loading_phd"
                                        :loader_source="loader_source_phd">
                                    </loading-icon>

                                    <div class="col-sm form-group mb-0" v-else>
                                        <div>
                                            <label for="{{ id }}_phd_input">
                                                {% trans "PhD Reference" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_phd_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_phd_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                  </option>
                                                  <option v-for="item in phd_filter"
                                                            :value="item.ReferentPhd"
                                                            :selected="item.ReferentPhd == selected_phd_id">
                                                        [[ item.ReferentPhd ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    {% endblock filters_phd %}

                                    {% block filters_structures %}
                                    <loading-icon
                                        v-if="is_loading_structures"
                                        :loader_source="loader_source_structures">
                                    </loading-icon>
                                    <div class="col-sm form-group mb-0">
                                        <div>
                                            <label for="{{ id }}_structures_input">
                                                {% trans "General Activity" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_structures_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_structures_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in structures_filter"
                                                            :value="item.ReferentStructureName"
                                                            :selected="item.ReferentStructureName == selected_structure_id">
                                                        [[ item.ReferentStructureName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {% endblock filters_structures %}
                                    {% block ssd %}
                                    <loading-icon
                                        v-if="is_loading_ssd"
                                        :loader_source="loader_source_ssd">
                                    </loading-icon>
                                    <div class="col-sm form-group mb-0">
                                        <div>
                                            <label for="{{ id }}_ssd_input">
                                                {% trans "SSD" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_ssd_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_ssd_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in ssd_filter"
                                                            :value="item.SSD"
                                                            :selected="item.SSD == selected_ssd_id">
                                                        [[ item.SSD ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {% endblock ssd %}
                                </div>
                            </div>
                            {% endblock filters_phdactivitieslist %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="item in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border-top:1px solid #b71918">
                            <div class="card-body p-3">
                                <h5>
                                        <b>[[ item.ActivityName ]]</b>
                                </h5>
                                <div class="row">
                                    <div class="col-12 col-md-auto" v-if="item.ReferentStructureName && item.ActivityType=='Ateneo'">
                                        <small>
                                            [[ labels['ReferentStructureName'] ]] >
                                            <b>[[ item.ReferentStructureName ]]</b>
                                        </small>
                                    </div>
                                    <div v-else>
                                        <small>
                                            [[ labels['ReferentPhd'] ]] >
                                            <b>[[ item.ReferentPhd ]]</b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.SSD">
                                        <small>
                                            [[ labels['SSD'] ]] >
                                            <b>[[ item.SSD ]]</b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.Hours">
                                        <small>
                                            [[ labels['Hours'] ]] >
                                            <b>[[ item.Hours ]] </b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.CFU">
                                        <small>
                                            [[ labels['CFU'] ]] >
                                            <b>[[ item.CFU ]] </b>
                                        </small>
                                    </div>
                                </div>
                                <a :href="item.ID+'/'" class="btn btn-sm btn-primary float-right">
                                                <svg class="icon icon-xs icon-white">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                                </svg> {% trans "Edit" %}
                                            </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict = {}

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value

    // teacher
    let teacher = document.getElementById('{{ id }}_teacher')
    if (teacher && teacher.value) dict['teacher'] = teacher.value

    // referent phd
    let referent_phd = document.getElementById('{{ id }}_phd_input')
    if (referent_phd && referent_phd.value) dict['phd'] = referent_phd.value

    // referent structure
    let referent_structures = document.getElementById('{{ id }}_structures_input')
    if (referent_structures && referent_structures.value) dict['structure'] = referent_structures.value

    // ssd
    let ssd = document.getElementById('{{ id }}_ssd_input')
    if (ssd && ssd.value) dict['ssd'] = ssd.value



    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}

{% get_current_language as LANGUAGE_CODE %}

initial_year: {{ id }}_get_param('year') || '',

selected_ssd_id: this.getItemFromSession("{{ id }}", 'ssd'),
selected_structure_id: this.getItemFromSession("{{ id }}", 'structure'),
selected_phd_id: this.getItemFromSession("{{ id }}", 'phd'),
selected_search: this.getItemFromSession("{{ id }}", 'search'),
selected_teacher: this.getItemFromSession("{{ id }}", 'teacher'),



is_loading_phd: true,
is_loading_structures: true,
is_loading_ssd: true,


loader_source_structures: '{% url 'ricerca:ref-structures' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_phd: '{% url 'ricerca:ref-phd' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_ssd: '{% url 'ricerca:phd-ssd-list' %}?lang={{ LANGUAGE_CODE }}&page_size=100',


structures_filter: [],
phd_filter: [],
ssd_filter: [],
{% endblock extra_data %}

{% block extra_mounted %}
this.callStructures();
this.callPhD();
this.callSSD();

this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}

{% block method_search %}
search(keyword=null, value=null) {
    if (value) this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters(keyword, value));
    else this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters());
    this.CallURL(this.url + this.parameters);
},
{% endblock method_search %}

{% block method_teacher %}
teacher(keyword=null, value=null) {
    if (value) this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters(keyword, value));
    else this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters());
    this.CallURL(this.url + this.parameters);
},
{% endblock method_teacher %}

{% block extra_methods %}
callStructures() {
    axios
        .get(this.loader_source_structures)
        .then(response => {
            this.structures_filter = response.data.results;
            this.is_loading_structures = false
        })
},
callPhD() {
    axios
        .get(this.loader_source_phd)
        .then(response => {
            this.phd_filter = response.data.results;
            this.is_loading_phd = false
        })
},
callErogationModes() {
    axios
        .get(this.loader_source_erogation_modes)
        .then(response => {
            this.erogation_modes_filter = response.data.results;
            this.is_loading_erogation_modes = false
        })
},
callSSD() {
    axios
        .get(this.loader_source_ssd)
        .then(response => {
            this.ssd_filter = response.data.results;
            this.is_loading_ssd = false
        })
},
{% endblock extra_methods %}
</script>
