{% extends "includes/vue_list.html" %}

{% load i18n %}
{% load static %}
{% load ricerca_crud %}

{% block content %}

{% settings_value "CMS_STORAGE_ROOT_API" as api_root %}


{% block storage_block_top %}
{% include "blocks/includes/vue_check.html" %}
{% endblock storage_block_top %}


<div id="{{ id }}">

    <div if="(initial_items && initial_items.length) || parameters">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    {% block filters %}

                    <div class="card card-bg no-after">
                        <div class="card-body">

                            {% include "includes/vue_search_input.html" with id=id %}

                                <div class="form-group mb-0">

                                    <!-- Year and TechArea -->
                                    <div class="row">
                                        <div class="col-sm form-group mb-0">
                                            <div class="w-30 mt-5">
                                                <label>
                                                    {% trans "Year" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <input type="number"
                                                           id="{{ id }}_year_input"
                                                           name="{{ id }}_year_input"
                                                           v-on:keyup.enter="{{ id }}.search()"
                                                           v-model="selected_year">
                                                </div>
                                            </div>
                                        </div>

                                        <loading-icon
                                            v-if="is_loading_techareas"
                                            :loader_source="loader_source_techareas">
                                        </loading-icon>

                                        <div class="col-sm form-group mb-0" v-else>
                                            <div>
                                                <label for="{{ id }}_techarea_input">
                                                    {% trans "Tech Area" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <select id="{{ id }}_techarea_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_techarea_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in techareas"
                                                                :value="item.TechAreaId"
                                                                :selected="item.TechAreaId == selected_techarea">
                                                            [[ item.TechAreaDescription ]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <loading-icon
                                            v-if="is_loading_territorialscopes"
                                            :loader_source="loader_source_territorialscopes">
                                        </loading-icon>
                                        <div class="col-sm form-group mb-0" v-else>
                                            <div>
                                                <label for="{{ id }}_territorialscope_input">
                                                    {% trans "Territorial Scope" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <select id="{{ id }}_territorialscope_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_territorialscope_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in territorialscopes"
                                                                :value="item.TerritorialScopeId"
                                                                :selected="item.TerritorialScopeId == selected_territorialscope">
                                                            [[ item.TerritorialScopeDescription ]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--END Year and TechArea -->

                                    <!-- Program type and Territorial scope -->
                                    <div class="row">

                                        {% block filter_programtype %}
                                        <loading-icon
                                            v-if="is_loading_programtypes"
                                            :loader_source="loader_source_programtypes">
                                        </loading-icon>
                                        <div class="col-sm form-group mb-0" v-else>
                                            <div>
                                                <label for="{{ id }}_programtype_input">
                                                    {% trans "Program Type" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <select id="{{ id }}_programtype_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_programtype_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in programtypes"
                                                                v-if="!excluded_programtypes.includes(String(item.TypeProgramId))"
                                                                :value="item.TypeProgramId"
                                                                :selected="item.TypeProgramId == selected_programtype">
                                                            [[ item.TypeProgramDescription ]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% endblock filter_programtype %}

                                        <loading-icon
                                            v-if="is_loading_infrastructures"
                                            :loader_source="loader_source_infrastructures">
                                        </loading-icon>
                                        <div class="col-sm form-group mb-0" v-else>
                                            <div>
                                                <label for="{{ id }}_infrastructure_input">
                                                    {% trans "Structure" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <select id="{{ id }}_infrastructure_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_infrastructure_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in infrastructures"
                                                                :value="item.InfrastructureId"
                                                                :selected="item.InfrastructureId == selected_infrastructure">
                                                            [[ item.InfrastructureDescription ]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END Program type and Territorial scope -->
                            </div>
                        </div>
                    </div>
                    {%  endblock filters %}
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="item in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border:1px solid #b71918">
                            <div class="card-body p-3">
                                <div class="row">
                                    {% comment %}
                                    <div class="col-12 col-lg-2 me-lg-3 mb-3 mb-lg-0" v-if="item.ProjectImage">
                                        <img :src="item.ProjectImage" class="w-100"/>
                                    </div>
                                    {% endcomment %}
                                    <div class="col">
                                        <h5>
                                            <a class="no-color">
                                                <b>[[ item.ProjectTitle ]]</b>
                                            </a>
                                        </h5>
                                        <p>
                                            <small>
                                                [[ item.ProjectDescription ]]
                                            </small>
                                        </p>
                                        <div class="row">
                                            <div class="col-12">
                                                <small>
                                                    [[ labels['InfrastructureDescription'] ]] >
                                                    <b>[[ item.InfrastructureDescription ]] </b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    [[ labels['ProjectYear'] ]] >
                                                    <b>[[ item.ProjectYear ]]</b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    [[ labels['TerritorialScopeDescription'] ]] >
                                                    <b>[[ item.TerritorialScopeDescription ]] </b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    {% trans "Tech Area" %} >
                                                    <b>[[ item.TechAreaDescription ]] </b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    [[ labels['TypeProgramDescription'] ]] >
                                                    <b>[[ item.TypeProgramDescription ]] </b>
                                                </small>
                                            </div>
                                        </div>
                                        <a :href="item.ProjectId+'/'" class="btn btn-sm btn-primary float-right">
                                                <svg class="icon icon-xs icon-white">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                                </svg> {% trans "Edit" %}
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict ={};

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value

    // year
    let year = document.getElementById('{{ id }}_year_input')
    if (year && year.value) dict['year'] = year.value

    // program type
    let programtype = document.getElementById('{{ id }}_programtype_input')
    if (programtype && programtype.value) dict['programtype'] = programtype.value

    // infrastructures
    let infrastructure = document.getElementById('{{ id }}_infrastructure_input')
    if (infrastructure && infrastructure.value) dict['infrastructure'] = infrastructure.value

    // territorial scope
    let territorialscope = document.getElementById('{{ id }}_territorialscope_input')
    if (territorialscope && territorialscope.value) dict['territorialscope'] = territorialscope.value

    // techarea
    let techarea = document.getElementById('{{ id }}_techarea_input')
    if (techarea && techarea.value) dict['techarea'] = techarea.value

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}
{% get_current_language as LANGUAGE_CODE %}

search_dict: {},
programtypes: [],
territorialscopes: [],
techareas: [],
infrastructures: [],

is_loading_programtypes: true,
is_loading_territorialscopes: true,
is_loading_infrastructures: true,
is_loading_techareas: true,

loader_source_programtypes: '{% url 'ricerca:projects-program-types' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_territorialscopes: '{% url 'ricerca:projects-territorial-scopes' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_techareas: '{% url 'ricerca:techareaslist' %}?lang={{ LANGUAGE_CODE }}&page_size=100',
loader_source_infrastructures: '{% url 'ricerca:projects-infrastructures' %}?lang={{ LANGUAGE_CODE }}&page_size=100',

selected_search: this.getItemFromSession("{{ id }}", 'search'),
selected_programtype: this.getItemFromSession("{{ id }}", 'programtype'),
selected_territorialscope: this.getItemFromSession("{{ id }}", 'territorialscope'),
selected_techarea: this.getItemFromSession("{{ id }}", 'techarea'),
selected_infrastructure: this.getItemFromSession("{{ id }}", 'infrastructure'),
selected_year: this.getItemFromSession("{{ id }}", 'year') || {{ id }}_get_param('year'),

{% endblock extra_data %}

{% block extra_mounted %}
this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))

this.callProgramTypes();
this.callTerritorialScopes();
this.callTechAreas();
this.callInfrastructures();

this.excluded_programtypes = {{ id }}_get_param("-programtype").split(",");
{% endblock extra_mounted %}

{% block extra_methods %}
callProgramTypes() {
    axios
        .get(this.loader_source_programtypes)
        .then(response => {
            this.programtypes = response.data.results;
            this.is_loading_programtypes = false
        })
},
callTerritorialScopes() {
    axios
        .get(this.loader_source_territorialscopes)
        .then(response => {
            this.territorialscopes = response.data.results;
            this.is_loading_territorialscopes = false
        })
},
callTechAreas() {
    axios
        .get(this.loader_source_techareas)
        .then(response => {
            this.techareas = response.data.results;
            this.is_loading_techareas = false
        })
},
callInfrastructures() {
    axios
        .get(this.loader_source_infrastructures)
        .then(response => {
            this.infrastructures = response.data.results;
            this.is_loading_infrastructures = false
        })
},
{% endblock extra_methods %}
</script>

