{% load static %}

<div class="row form-group">
    <div class="input-group">
        <label for="{{ id }}_search"></label>
        <input type="text"
               class="form-control"
               id="{{ id }}_search"
               name="{{ id }}_search"
               v-model="selected_search"
               v-on:keyup.enter="{{ id }}.search({{ input_args }})">
        <div class="input-group-append">
            <div class="input-group-text">
                <svg class="icon icon-sm icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-search"></use>
                </svg>
            </div>

            {% include "includes/vue_search_button.html" with id=id %}

        </div>
    </div>
</div>
