{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}

{% if choosen_person %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_teacher">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_teacher">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen teacher?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'ricerca_crud:crud_applied_researchline_teacher_delete' code=rline.pk teacher_rline_id=teacher_rline_id %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4"/>
{% endif %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_person %}{% trans "Edit teacher for" %}{% else %}{% trans "New teacher for" %}{% endif %} {{ rline.descrizione }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            {% include "blocks/crud_teacherslist.html" with uid="id_1" %}
            <hr />
            <span id="choosen_person_name">
                {% if choosen_person %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a person to proceed" %}
                </div>
                {% endif %}
            </span>
            <hr />
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
