{% extends "cds_websites_pages_unique_form.html" %}

{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% block title %}

{% settings_value "UNICMS_ROOT_URL" as root_url %}
    
<!-- Preview Modal -->
<div class="modal fade it-dialog-scrollable"
     tabindex="-1"
     role="dialog"
     id="preview-modal"
     aria-labelledby="preview-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans "Object Preview" %}</h3>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                    <svg class="icon">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <!-- Object Preview Content -->
                <div id="objectpreview"></div>
                <!-- /Object Preview Content -->
            </div>
        </div>
    </div>
</div>
<!-- /Preview Modal -->

<div class="d-flex">
    {{block.super}}
    <a href="javascript:void(0);" id="btn-refresh" class="btn btn-success btn-xs ml-auto mb-4 align-self-center">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-restore"></use>
        </svg>
        {% trans "Show Preview" %}
    </a>
</div>


<script>
    function refreshPreview() {
        let objectclass = document.getElementById("id_id_classe_oggetto_portale").value;
        let objectid = document.getElementById("id_id_oggetto_portale").value;
        let previewModal = $("#preview-modal")
        let previewdiv = document.getElementById("objectpreview");
        let url = "{% url 'ricerca:cdswebsite-object-preview' objectid='objectid' objectclass='objectclass' %}";
        url = url.replace("objectid", objectid);
        url = url.replace("objectclass", objectclass);
        axios.get(url)
            .then(response => {
                let html = '';
                if(response.data.status_code != 200) {
                    html=`Request failed with status code ${response.data.status_code}`;
                }
                else {
                    if(objectclass == "WebPath") {
                        html=`<a target="_blank" href="${response.data.content}">${response.data.name}</a>`;
                    }
                    else if(objectclass == "Publication") {
                        html+= `<h3>${response.data.title}</h3>`;
                        html+= `<h4 style="font-weight: lighter" class="pt-1 pb-4">${response.data.subheading}</h3>`;
                        html+= `${response.data.content}`;
                        /*
                        if(response.data.preview_image)
                            html+= `<img src="{{root_url}}/${response.data.preview_image.file}"/>`;
                        if(response.data.presentation_image)
                            html+= `<img src="{{root_url}}/${response.data.presentation_image.file}"/>`;
                        */
                    }
                }
                previewdiv.innerHTML = html;
            }).catch(error => {
                previewdiv.innerHTML = error.message;
            }).then(() => {
                previewModal.modal();
            });
    }

    button = document.getElementById("btn-refresh");
    button.addEventListener("click", refreshPreview, false);

</script>
    
{% endblock title %}

{% block submit %}
    {% if edit %}
        {% include "cds_websites_pages_shared_object_form_submit_warning.html" %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock submit %}