{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/cds-websites-collapse.css' %}" type="text/css" />
{% endblock %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <h3 style="font-weight: normal;" class="mb-4 pb-4">
                {{ cds_website.cds.cds_cod }} -
                {% if LANGUAGE_CODE == "it" or not cds_website.cds.nome_cds_eng %}
                    {{ cds_website.cds.nome_cds_it }}
                {% else %}
                    {{ cds_website.cds.nome_cds_eng }}
                {% endif %}
            </h3>
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <div class="card-body">
                        <div class="d-flex justify-content-start align-items-center pb-4">
                            <h3 style="font-weight: normal"
                                class="mr-auto">
                                {% trans "Publications and WebPaths" %}
                            </h3>
                            <a  tabindex="0"
                                href="javascript:void(0)"
                                role="button"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-html="true"
                                title="{{popover_title_content.portal_objects.title}}"
                                data-content="{{popover_title_content.portal_objects.content}}">
                                <svg class="pr-2 ml-2 icon icon-lg">
                                    <use href="{% static 'svg/sprite.svg' %}#it-help-circle"></use>
                                </svg>
                            </a>
                        </div>
                        {% include "blocks/cds_website_topics_objects.html" with objects_list=objects_list cds_website=cds_website %}
                    </div>
                </div>
            </div>

            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <div class="card-body">
                        <h3 style="font-weight: normal" class="pb-4">{% trans "Pages and Topics" %}</h3>
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="nav nav-tabs nav-tabs-vertical"
                                    id="nav-vertical-tab-pages"
                                    role="tablist"
                                    aria-orientation="vertical">

                                    {% for page_name in pages.keys %}
                                    {% with trimmed_page_name=page_name|cut:" " %}
                                        <a  class="nav-link {% if forloop.first %}active{% endif %}"
                                            id="nav-vertical-tab-pages-{{trimmed_page_name}}-tab"
                                            data-toggle="tab" href="#nav-vertical-tab-pages-{{trimmed_page_name}}"
                                            role="tab" aria-controls="nav-vertical-tab-pages-{{trimmed_page_name}}"
                                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{page_name}}</a>
                                    {% endwith %}
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="col-8 col-md-9">
                                <div class="tab-content"
                                    id="nav-vertical-tabContent-pages">

                                    {% for page_name, content in pages.items %}
                                    {% with trimmed_page_name=page_name|cut:" " %}
                                        <div class="tab-pane p-3 fade {% if forloop.first %}show active{% endif %}"
                                            id="nav-vertical-tab-pages-{{trimmed_page_name}}"
                                            role="tabpanel"
                                            aria-labelledby="nav-vertical-tab-pages-{{trimmed_page_name}}">

                                            <div id="collapseDiv_{{trimmed_page_name}}"
                                                class="collapse-div collapse-left-icon">

                                                {% for topic_id, tor in content.items %}
                                                {% include "blocks/cds_website_page_topics.html" with page_name=page_name topic_obj_regarts=tor %}
                                                {% endfor %}

                                            </div>
                                        </div>
                                    {% endwith %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>

{% block extra_scripts %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $('.popover-dismiss').popover({
        trigger: 'focus',
      });
</script>
{% endblock extra_scripts %}

{% endblock centered_container %}
