{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/cds-websites-collapse.css' %}" type="text/css" />
<style>
    .btn:disabled {
        pointer-events: none;
        opacity: 0.2;
    }
</style>
{% endblock %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}
{% settings_value "ETL_USER_IDS" as etl_ids %}

<h3 style="font-weight: normal;">
    {{ cds_website.cds.cds_cod }} -
    {% if LANGUAGE_CODE == "it" or not cds_website.cds.nome_cds_eng %}
        {{ cds_website.cds.nome_cds_it }}
    {% else %}
        {{ cds_website.cds.nome_cds_eng }}
    {% endif %}
</h3>
<hr>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table id="sortable" class="table table-sm table-striped table-responsive-sm mb-0">
                    <thead class="table-white sticky-top">
                        <tr class="d-flex">
                            <th class="col-auto text-center">
                                <svg class="icon mr-2" style="visibility: hidden;">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-down-triangle"></use>
                                </svg>
                            </th>
                            <th class="col">{% trans "Item" %}</th>
                            <th class="col-auto col-md-2 col-xs-1 col-1 text-center text-truncate">{% trans "Visible" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items_list %}
                            <tr class="d-flex" data-id="{{ item.id }}">
                                <td class="col-auto align-content-center handle">
                                    <button type="button" class="btn move-up p-0" {% if forloop.first %}disabled{% endif %}>
                                        <svg class="icon mr-2">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-up-triangle"></use>
                                        </svg>
                                    </button>
                                    <br>
                                    <button type="button" class="btn move-down p-0" {% if forloop.last %}disabled{% endif %}>
                                        <svg class="icon mr-2">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-down-triangle"></use>
                                        </svg>
                                    </button>
                                </td>
                                <td class="col align-content-center">
                                    {{item.titolo_it}}     
                                </td>
                                <td class="col-auto col-md-2 align-content-center text-center">
                                {% if item.visibile %}
                                    <svg class="icon icon-sm icon-success">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                                    </svg>
                                    {% else %}
                                    <svg class="icon icon-sm icon-danger">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
                                    </svg>
                                {% endif %}
                                </td>
                                <input type="hidden" name="item_order" value="{{ item.id }}">
                            </tr>
                        {% endfor %}
                        {% if items_list|length < 1 %}
                            <tr class="d-flex">
                                <td class="col">{% trans "None" %}</td>
                                <td class="col-auto col-md-2 text-center">-</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if items_list|length > 0 %}
                    <hr>
                    <a href="javascript:void(0)"
                        class="btn btn-xs btn-block btn-success"
                        type="button"
                        data-toggle="modal"
                        data-target="#save_order_action">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                        </svg>
                        {% trans "Save order" %}
                    </a>
                    <!-- Order modal -->
                    <div class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        id="save_order_action">
                        <div class="modal-dialog modal-dialog-centered"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <svg class="icon">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% block message %}
                                        {% trans "Do you want to confirm the entered data?" %}
                                        {% endblock %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-success"
                                            type="submit"
                                            id="save_order_submitForm"
                                            value="{% trans 'Yes, proceed' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Order modal -->
                {% endif %}
            </form>

        </div>
    </div>
</div>

{% endblock centered_container %}

{% block extra_scripts %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        function updateButtonStates() {
            let rows = document.querySelectorAll('#sortable tbody tr');
            rows.forEach((row, index) => {
                let upButton = row.querySelector('.move-up');
                let downButton = row.querySelector('.move-down');
                upButton.disabled = (index === 0);
                downButton.disabled = (index === rows.length - 1);
            });
        }

        function moveRow(row, direction) {
            let parent = row.parentNode;
            if (direction === 'up' && row.previousElementSibling) {
                parent.insertBefore(row, row.previousElementSibling);
            } else if (direction === 'down' && row.nextElementSibling) {
                parent.insertBefore(row.nextElementSibling, row);
            }
            updateButtonStates();
        }

        document.querySelectorAll('.move-up').forEach(button => {
            button.addEventListener('click', function () {
                let row = this.closest('tr');
                moveRow(row, 'up');
            });
        });

        document.querySelectorAll('.move-down').forEach(button => {
            button.addEventListener('click', function () {
                let row = this.closest('tr');
                moveRow(row, 'down');
            });
        });

        updateButtonStates();
    });
</script>
{% endblock extra_scripts%}