{% extends "storage_crud_base.html" %}
{% load i18n %}

{% block centered_container %}
<a href="{% url 'advanced-training:management:advanced-training' %}" class="btn btn-outline-primary btn-sm">
    &laquo; {% trans "Back to list" %}
</a>

<hr>

<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "Master Details" %}
</h3>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">{% trans "Title" %}</dt>
                <dd class="col-sm-9">{{ master.titolo_it }}</dd>

                <dt class="col-sm-3">{% trans "Scientific Director" %}</dt>
                <dd class="col-sm-9">{{ master.nome_origine_direttore_scientifico }}</dd>

                <dt class="col-sm-3">{% trans "Department" %}</dt>
                <dd class="col-sm-9">{{ master.dipartimento_riferimento.dip_des_it }}</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
