{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_person %}{% trans "Edit researcher for" %}{% else %}{% trans "New researcher for" %}{% endif %} {{ project.titolo }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            {% include "blocks/includes/teacher_tabs.html" %}
        </div>
    </div>
</div>
{% endblock centered_container %}
