{% extends "storage_crud_base.html" %}


{% load i18n %}
{% load static %}
{% load accounts_tags %}


{% block centered_container %}
<p class="h3 mb-4 mt-4 mt-md-0">{% trans "Account" %}</p>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th scope="row">{% trans "First name" %}</th>
            <td>{{ request.user.first_name|default:'-' }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Last name" %}</th>
            <td>{{ request.user.last_name|default:'-' }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Email" %}</th>
            <td>{{ request.user.email|default:'-' }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Taxpayer ID" %}</th>
            <td>{{ request.user.taxpayer_id|default:'-' }}</td>
        </tr>
    </tbody>
</table>
{% accounts_settings_value "EDITABLE_FIELDS" as accounts_editable_fields %}
{% if accounts_editable_fields %}
<a href="{% url 'accounts:change_data' %}" type="button" class="btn btn-success btn-block">
    {% trans "Edit" %}
</a>
{% endif %}
{% endblock centered_container %}
