{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "Edit UNICAL director data for" %} {{ project.titolo }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Person (find in database)" %}</th>
                        <th></th>
                        {% if director_data.matricola %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ director_data.matricola|default:"-" }}</td>
                        <td>
                            <a href="{% url 'crud_projects:crud_project_director_data_edit' code=project.pk director_id=director_data.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        {% if director_data.matricola %}
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_director">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                 tabindex="-1"
                                 role="dialog"
                                 id="delete_director">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                               <svg class="icon">
                                                  <use xlink:href="{% static 'svg/sprites.svg' %}#it-close"></use>
                                               </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete choosen person?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_projects:crud_project_director_delete_link' code=project.pk director_id=director_data.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

            <hr class="my-5">

            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
