{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_project">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_project">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete choosen project?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_projects:crud_project_delete' code=project.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4"/>
<h3 style="font-weight: lighter;" class="mb-4">
    {{ project.titolo }}
</h4>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Referent Structure" %}
            </h4>
            <!-- deputy coordinator -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ project.uo|default:"-" }}
                        </td>
                        <td>
                            <a href="{% url 'crud_projects:crud_project_structure_data_edit' code=project.pk data_id=structure_data.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
        {#                {% if company.matricola_referente_unical %}#}
        {#                <td>#}
        {#                    <a href="" class="btn btn-danger btn-xs d-flex"#}
        {#                       data-toggle="modal"#}
        {#                       data-target="#delete_unical_referent">#}
        {#                        <svg class="icon icon-xs icon-white">#}
        {#                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>#}
        {#                        </svg> {% trans "Remove" %}#}
        {#                    </a>#}
        {#                    <div class="modal fade"#}
        {#                         tabindex="-1"#}
        {#                         role="dialog"#}
        {#                         id="delete_unical_referent">#}
        {#                        <div class="modal-dialog modal-dialog-centered"#}
        {#                             role="document">#}
        {#                            <div class="modal-content">#}
        {#                                <div class="modal-header">#}
        {#                                    <h5 class="modal-title">#}
        {#                                        {% trans "Confirm" %}#}
        {#                                    </h5>#}
        {#                                    <button class="close"#}
        {#                                            type="button"#}
        {#                                            data-dismiss="modal"#}
        {#                                            aria-label="Close">#}
        {#                                       <svg class="icon">#}
        {#                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>#}
        {#                                       </svg>#}
        {#                                    </button>#}
        {#                                </div>#}
        {#                                <div class="modal-body">#}
        {#                                    <p>#}
        {#                                        {% trans "Do you want to delete choosen teacher?" %}#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                                <div class="modal-footer">#}
        {#                                    <a class="btn btn-success btn-sm" href="{% url 'crud_projects:crud_company_unical_referent_data_delete' code=company.pk data_id=referent_data.pk %}">#}
        {#                                        {% trans 'Yes, proceed' %}#}
        {#                                    </a>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </td>#}
        {#                {% endif %}#}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Scientific Directors" %}
            </h4>
            {% if scientific_director %}
            <table class="table table-striped table-hover">
                <tbody>
                    {% for director in scientific_director %}
                    <tr>
                        <td>
                                {{ director.nome_origine|default:"-" }}
                                {% if director.matricola %}
                                    ({{ director.matricola|default:"-" }})
                                {% endif %}
                            </td>
                        <td>
                            <a href="{% url 'crud_projects:crud_project_director_data' code=project.pk  director_id=director.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_director_{{ director.pk }}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                     <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_director_{{ director.pk }}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen director?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_projects:crud_project_director_delete' code=project.pk director_id=director.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
            <a href="{% url 'crud_projects:crud_project_director_new' code=project.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Researchers" %}
            </h4>
            {% if researchers %}
            <table class="table table-striped table-hover">
                <tbody>
                    {% for researcher in researchers %}
                    <tr>
                        <td>
                                {{ researcher.nome_origine|default:"-" }}
                                {% if researcher.matricola %}
                                    ({{ researcher.matricola|default:"-" }})
                                {% endif %}
                            </td>
                        <td>
                            <a href="{% url 'crud_projects:crud_project_researcher_data' code=project.pk  researcher_id=researcher.pk %}" class="d-flex btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger btn-xs d-flex"
                               data-toggle="modal"
                               data-target="#delete_researcher_{{ researcher.pk }}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                     <div class="modal fade"
                         tabindex="-1"
                         role="dialog"
                         id="delete_researcher_{{ researcher.pk }}">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                       <svg class="icon">
                                          <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                       </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to delete choosen director?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_projects:crud_project_researcher_delete' code=project.pk researcher_id=researcher.pk %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
            <a href="{% url 'crud_projects:crud_project_researcher_new' code=project.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
