{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "New project" %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post">
                {% include "form_template.html" with form=form %}
                <hr />
                <h4 style="font-weight: lighter;">
                    {% trans "Choose one structure" %}
                </h4>
                <div class="mt-5">
                    <span class="choosen_structure_name">
                        {% if choosen_structure %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen structure' %} <b>{{ choosen_structure }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a structure to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    {% include "form_template.html" with form=structure_form %}
                    {% include "blocks/crud_structureslist.html" with uid="id_2" url=structures_api %}
                    <hr />
                    <span class="choosen_structure_name">
                        {% if choosen_structure %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen structure' %} <b>{{ choosen_structure }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a structure to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    <hr />
                </div>
                <hr />
                <h4 style="font-weight: lighter;">
                    {% trans "Choose one director" %}
                </h4>
                <div class="mt-5">
                    {% include "form_template.html" with form=director_form %}
                    {% include "blocks/includes/choose_teacher.html" with url=teachers_api %}
                </div>
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
