{% load i18n %}


<span class="{{person_label|default:"choosen_person"}}_name">
    {% if choosen_person %}
    <div class="alert alert-success" role="alert">
        {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        {% if required %}
            {% trans "Choose a person to proceed" %}
        {% else %}
            {% trans "Choose a person" %}
        {% endif %}
    </div>
    {% endif %}
</span>
{% include include_block|default:"blocks/crud_teacherslist.html" with internal_form=internal_form external_form=external_form person_label=person_label|default:"choosen_person" choosen_person=choosen_person uid=uid|add:"_list"|default:"id_1" %}
<hr />
<span class="{{person_label|default:"choosen_person"}}_name">
    {% if choosen_person %}
    <div class="alert alert-success" role="alert">
        {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        {% if required %}
            {% trans "Choose a person to proceed" %}
        {% else %}
            {% trans "Choose a person" %}
        {% endif %}
    </div>
    {% endif %}
</span>