{% extends "cds_websites_unique_form.html" %}

{% load i18n %}
{% load static %}

{% block title %}
<h3 style="font-weight: normal;" class="mb-4 pb-4">
    {% if LANGUAGE_CODE == "it" or not cds_website.nome_corso_en %}
        {{ cds_website.nome_corso_it }}
    {% else %}
        {{ cds_website.nome_corso_en }}
    {% endif %}
</h3>
{% endblock %}

{% block after_forms %}
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock %}