{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %} <!-- Top Buttons -->
<table class="table">
    <tbody>
        <tr>
            <td class="text-left">
                <a href="" class="btn btn-danger btn-xs"
                data-toggle="modal"
                data-target="#delete_laboratory">
                    <svg class="icon icon-xs icon-white">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                    </svg>
                    {% trans "Remove" %}
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- /Top Buttons --> {% endcomment %}


<h3 style="font-weight: normal;" class="mb-4 pb-4">
    {% if LANGUAGE_CODE == "it" or not cds_website.nome_corso_en %}
        {{ cds_website.nome_corso_it }}
    {% else %}
        {{ cds_website.nome_corso_en }}
    {% endif %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h3 style="font-weight: normal" class="pb-2">{% trans "Publications and WebPaths" %}</h3>
            {% include "blocks/cds_website_topics_objects.html" with objects_list=objects_list cds_website=cds_website %}
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h3 style="font-weight: normal" class="pb-2">{% trans "Pages and Topics" %}</h3>
            {% for page_name, content in pages.items %}
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body">
                            <h3 style="font-weight: normal" class="mb-4">{{ page_name }}</h3>
                            {% for topic_id, tor in content.items %}
                                {% include "blocks/cds_website_page_topics.html" with page_name=page_name topic_obj_regarts=tor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
