{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% random_id as sch_id %}

{% with status_history=status_history|default:None %}

<!-- Status change history modal -->
<div class="modal it-dialog-scrollable fade"
    tabindex="-1"
    role="dialog"
    id="{{sch_id}}">
    <div class="modal-dialog modal-dialog-centered modal-xl"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Regdid status history" %}
                </h5>
                <button class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                    <svg class="icon">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body ml-3">
                {% if status_history %}
                    <div id="collapseDiv_status_history"
                        class="collapse-div collapse-left-icon">
                        {% for s_change in status_history %}
                            <div class="collapse-header collapse-topic-header"
                                id="heading_status_history_{{s_change.pk}}">
                                <a  class="row text-decoration-none text-reset"
                                    data-toggle="collapse"
                                    data-target="#collapse_status_history_{{s_change.pk}}"
                                    aria-expanded="false"
                                    aria-controls="collapse_status_history_{{s_change.pk}}">
                                    <div class="col-xs" style="font-weight: normal;">
                                        {{s_change.data_status}}
                                        &nbsp;-
                                    </div>
                                    <div class="col">
                                        {{s_change.id_didattica_articoli_regolamento_status.status_desc}}
                                    </div>
                                </a>
                            </div>
                            <!---->
                            <div id="collapse_status_history_{{s_change.pk}}"
                                class="collapse"
                                role="region"
                                data-parent="#collapseDiv_status_history"
                                aria-labelledby="collapse_status_history_{{s_change.pk}}">

                                <div class="collapse-body overflow-auto pt-2 pb-3" style="font-weight: normal;">
                                    <p>{% trans "Changed by" %}: {{s_change.id_user_mod}}</p>
                                    <p>{% trans "Reason" %}: {% if s_change.motivazione %}{{s_change.motivazione}}{% else %}-{% endif %}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{% trans "History is empty" %}</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-block p-2"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                    {% trans "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Status change history modal -->

<a  href="javascript:void(0)"
    data-toggle="modal"
    data-target="#{{sch_id}}"
    class="btn btn-block btn-outline-primary p-1">
    <svg class="icon icon-sm">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-note"></use>
    </svg>
    {% trans "history" %}
</a>

{% endwith %}