{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% with button_text=button_text|default:"" button_type=button_type|default:"success" button_icon=button_icon|default:"#it-upload" message=message|default:"" confirm_url=confirm_url|default:"javascript:void(0)" %}

{% random_id as id %}

{% block modal %}
<div class="modal fade"
    tabindex="-1"
    role="dialog"
    id="{{id}}">
    <div class="modal-dialog modal-dialog-centered{% block modal_extra_class %}{% endblock modal_extra_class %}"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% block modal_title %}
                    {% trans "Confirm" %}
                    {% endblock modal_title %}
                </h5>
                <button class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                    <svg class="icon">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                <p>
                {{ message }}
                </p>
                {% endblock modal_body %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                <a class="btn btn-success btn-sm" href={{confirm_url}}>
                    {% trans 'Yes, proceed' %}
                </a>
                {% endblock modal_footer %}
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block button %}
<a  href="javascript:void(0)"
    data-toggle="modal"
    data-target="#{{id}}"
    class="btn btn-{{button_type}} btn-xs align-self-center mb-2 ml-2">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}{{button_icon}}"></use>
    </svg>
    {{button_text}}
</a>
{% endblock button %}

{% endwith %}