{% extends "storage_crud_base.html" %}
{% load i18n %}
{% load static %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}

<div>
    <div class="h3" style="font-weight: lighter;" class="mb-4">{{item_label|safe}}</div>
    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after mb-4">
                <div class="card-body">
                    {% for form in forms %}
                        {% include "form_template.html" with form=form %}
                    {% endfor %}
                    {% include "includes/form_submit.html" %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock centered_container %}
