{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<div class="row mb-3 p-1">
    {% if request.user.is_superuser %}
    <h3 style="font-weight: lighter;">{% trans "Didactic Regulations" %}</h3>
    <a href="{% url 'crud_regdid:crud_regdid_structure_import' %}" class="btn btn-warning btn-xs align-self-center ml-auto">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-download"></use>
        </svg> {% trans "Import structure" %}
    </a>
    {% endif %}
</div>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            {% include "blocks/crud_regdid.html" with uid="id_1" %}
        </div>
    </div>
</div>
{% endblock centered_container %}
