{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/cds-websites-collapse.css' %}" type="text/css" />

    <style>
        table {
            border: solid 0.1mm #000000 !important;
            table-layout: fixed;
            width: 100%;
            padding-bottom: 1mm;
            overflow-wrap: break-word;
        }
        td, th {
            border: solid 0.1mm #000000 !important;
            text-align: left;
            padding-left: 1.0mm;
            vertical-align: middle;
            word-wrap: break-word;
        }
    </style>
{% endblock %}


{% block centered_container %}

<div id="lock_alert">
</div>

<div class="row">
    <div class="col-4 col-md-3 overflow-auto">
        <div class="nav nav-tabs nav-tabs-vertical"
            id="nav-vertical-tab-articles"
            role="tablist"
            style="position: absolute;"
            aria-orientation="vertical">

            {% for title, struct_art_list in titoli_struttura_articoli_dict.items %}
                <div class="h6 mb-0">
                    {{ title.descr_titolo_it }}
                </div>
                {% for struct_art in struct_art_list %}
                <div class="m-2">
                    {% for struct, art_sub_arts in struct_art.items %}
                        {% for art, sub_articles in art_sub_arts.items %}
                            <a  
                                href="{% if art %}{% url 'crud_regdid:crud_regdid_articles_edit' regdid_id=regdid.pk article_id=art.pk %}{% else %}{% url 'crud_regdid:crud_regdid_articles_new' regdid_id=regdid.pk article_num=struct.numero %}{% endif %}"
                                class="nav-link {% if article and art == article %}active{% elif new_article and article_num == struct.numero %}active{% endif %}"
                                id="nav-vertical-tab-articles-{{struct.pk}}-tab"
                                aria-selected="{% if article and art == article %}true{% elif new_article and article_num == struct.numero %}true{% else %}false{% endif %}">
                                
                                <div class="span align-self-start">Art. {{struct.numero}} -</div>
                                <div class="span col">
                                    {% if struct.titolo_it %}
                                        {{ struct.titolo_it }}
                                    {% endif %}
                                </div>
                            
                            </a>
                            {% for sub_art in sub_articles %}
                                <a  
                                    class="ml-4 nav-link {% if sub_article and sub_article == sub_art %}active{% endif %}"
                                    id="nav-vertical-tab-articles-{{sub_art.pk}}-tab"
                                    href="{% url 'crud_regdid:crud_regdid_sub_articles_edit' regdid_id=regdid.pk article_id=art.pk sub_article_id=sub_art.pk %}"
                                    style="font-weight: normal;"
                                    aria-selected="{% if sub_article and sub_article == sub_art %}true{% else %}false{% endif %}">
                                   
                                    {% if sub_art.titolo_it %}
                                        <div class="ml-4 span align-self-start">
                                            Art. {{struct.numero}}.{{sub_art.ordine}} - 
                                        </div>
                                        <div class="span col">{{sub_art.titolo_it}}</div>
                                    {% endif %}

                                </a>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}
                <hr />
            {% endfor %}      
        </div>
    </div>
    <div class="col-8 col-md-9">
        <div class="tab-content ml-4"
            id="nav-vertical-tabContent-article">
            <div class="h3 mb-4 pb-4" style="font-weight: lighter;" class="mb-4">{{item_label|safe}}</div>
            <form method="post" enctype="multipart/form-data" novalidate>             
                <!-- Review Notes -->
                {% trans "Revision notes" as note_title %}
                {% include "blocks/regdid_notes.html" with title=note_title notes=revision_notes notes_form=revision_notes_form user_can_edit=can_edit_notes %}
                <!-- /Review Notes -->
                {% for form in forms %}
                    {% include "form_template.html" with form=form %}
                {% endfor %}
                {% if user_permissions_and_offices.permissions.edit and testata.id_didattica_articoli_regolamento_status.status_cod != '2' and testata.id_didattica_articoli_regolamento_status.status_cod != '3' %}
                <div id="form_submit">
                {% include "includes/form_submit.html" %}
                </div>
                {% endif %}
            </form>
        </div>
            
        {% if show_sub_articles %}
        <!-- Sub-Articles -->
        <div class="ml-4">
            <hr />
            <h3 style="font-weight: lighter;" class="mt-4 mb-4">{% trans "Sub articles" %}</h3>
            <div id="collapseDiv_sub_art"
                class="collapse-div collapse-left-icon m-3 mt-2"
                style="border-bottom: 0;">
                {% for sub_art in sub_art_list %}
                <div class="m-2">
                    {% include "blocks/regdid_sub_article_item.html" with sub_art=sub_art %}
                </div>
                {% endfor %}
            </div>
            {% if user_permissions_and_offices.permissions.edit %} 
                {% if testata.id_didattica_articoli_regolamento_status.status_cod != '2' and testata.id_didattica_articoli_regolamento_status.status_cod != '3' %}
                <a  
                href="{% url 'crud_regdid:crud_regdid_sub_articles_new' regdid_id=regdid.pk article_id=article.pk %}"
                class="btn btn-success btn-block">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                </svg>
                {% trans "New" %}
                </a>
                {% endif %}
            {% endif %}
        </div>
        <!-- /Sub-Articles -->
        {% endif %}
    </div>

</div>

{% endblock centered_container %}

{% block extra_scripts %}
{% if check_for_locks and user_permissions_and_offices.permissions.lock %}
<script>

    function show_alert(message) {
        let alert = `<div class="alert alert-danger fade show" role="alert">
                        ${message}
                        <hr>
                        <a href="javascript:location.reload()" class="btn btn-success btn-block p-1">
                            <svg class="icon icon-xs icon-white">
                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-restore"></use>
                            </svg>
                            {% trans "Refresh page" %}
                        </a>
                    </div>`
        document.getElementById("lock_alert").innerHTML = alert;
    }

    const lock_axios = axios.create(
        {
            headers: {"X-CSRFToken": "{{lock_csrf}}"},
            timeout: 3000 // milliseconds
        }
    );
   
    // concurrency management
    const obj_content_type_id = {{lock_obj_content_type_id}};
    const obj_id = {{lock_obj_id}};
    // set lock
    const api_set_lock_url = "{% url 'ricerca:set-lock' %}";
    const set_lock_params = {'content_type_id': obj_content_type_id, 'object_id': obj_id};
    let set_lock_debounce_timeout = null; // ensures there is at most one call per second
    const call_set_lock_api = () => {
        if (!set_lock_debounce_timeout) {
            let promise = lock_axios.post(api_set_lock_url, set_lock_params);
            promise.then((response) => {
                if("lock" in response.data) {
                    document.removeEventListener("keyup", call_set_lock_api, false);
                    document.removeEventListener("mousedown", call_set_lock_api, false);
                }
            });
            set_lock_debounce_timeout = setTimeout(() => {
                set_lock_debounce_timeout = null;
            }, 1000); // milliseconds
        }
    };
    // check lock
    let check_lock_interval = null;
    const api_check_lock_url = "{% url 'ricerca:check-lock' content_type_id=lock_obj_content_type_id object_id=lock_obj_id %}";
    const call_check_lock_api = () => {
        let promise = lock_axios.get(api_check_lock_url);
        promise.then((response) => {
            if(Object.entries(response.data).length != 0) {
                show_alert(response.data.message);
                // disable form submit button
                document.querySelectorAll('div[id="form_submit"] > button').forEach(btn => btn.setAttribute("disabled", ""));
                clearInterval(check_lock_interval);
                document.removeEventListener("keyup", call_set_lock_api, false);
                document.removeEventListener("mousedown", call_set_lock_api, false);
            }
        });
    };
    // try to lock the object
    call_check_lock_api();
    call_set_lock_api();

    check_lock_interval = setInterval(() => {
        call_check_lock_api();
        //location.reload();
    }, 5000) // milliseconds
    
    document.addEventListener("keyup", call_set_lock_api, false);
    document.addEventListener("mousedown", call_set_lock_api, false);
    // end concurrency management

</script>
{% endif %}
{% endblock extra_scripts %}