{% extends "includes/vue_list.html" %}

{% load i18n %}
{% load static %}
{% load management_templatetags %}


{% block content %}

<div id="{{ id }}">

    <div v-if="(initial_items) || parameters">

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body">

                            {% include "includes/vue_search_input.html" with id=id %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="item in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border-top:1px solid #b71918">
                            <div class="card-body p-3">
                                <h5>
                                    <a :href="item.Id+'/'" class="no-color">
                                        <b>[[ item.CDSName ]]</b>
                                    </a>

                                </h5>
                                <div class="row">
                                    <div class="col-12 col-md-auto me-md-4">
                                        <small>
                                            {% trans "Cod." %} >
                                            <b>[[ item.CDSCOD ]]</b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.CDSAcademicYear">
                                        <small>
                                            {% trans "A.Y." %} >
                                            <b>[[ item.CDSAcademicYear ]]/[[ item.CDSAcademicYear + 1]]</b>
                                        </small>
                                    </div>
                                </div>
                                <a :href="item.Id+'/'" class="btn btn-sm btn-primary float-right">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg> {% trans "Edit" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict = {}

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value

    // cds language
    {% block filters_language_script %}
    let cds_language = document.getElementById('{{ id }}_cds_language_input')
    if (cds_language && cds_language.value) dict['cdslanguage'] = cds_language.value
    {% endblock filters_language_script %}

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}

{% get_current_language as LANGUAGE_CODE %}

{% settings_value "ALLOWED_CDS_LANGUAGES" package="cds" as allowed_languages %}

selected_language: this.getItemFromSession("{{ id }}", 'cdslanguage'),
selected_search: this.getItemFromSession("{{ id }}", 'search'),

cds_languages_filter: {{ allowed_languages|safe }},
{% endblock extra_data %}

{% block extra_mounted %}
// if url is pre-filtered with preferred coursetypes
// get them, else show all

this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}

{% block method_search %}
search(keyword=null, value=null) {
    if (value) this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters(keyword, value));
    else this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters());
    this.CallURL(this.url + this.parameters);
},
{% endblock method_search %}

{% block method_callurl %}
CallURL(url, initial=false) {
    this.is_loading = true
    this.loader_source = url
    axios
        .get(url)
        .then(response => {
            if(initial) this.initial_items = response.data.results;
            this.items = response.data;
            this.next_page = response.data.next;
            this.previous_page = response.data.previous;
            this.labels = response.data.labels;
            this.is_loading = false;
        })
},
{% endblock method_callurl %}
</script>
