{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block header_slim_right_zone %}{% endblock header_slim_right_zone %}

{% block centered_container %}
{% block content_title %}{% endblock content_title %}
<div class="callout danger mt-5">
	<div class="callout-title">
        <svg class="icon icon-primary icon-danger">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close-circle"></use>
        </svg> {% trans "Oops! C'è qualcosa che non va" %}</div>
	<p>
        {{ avviso }}
        <hr>
        <a role="button" class="btn btn-outline-secondary"
           href="javascript:history.back()">
            {% trans "Torna indietro" %}
        </a>
        <a role="button" class="btn btn-outline-secondary"
           href="{% url 'crud_utils:crud_dashboard' %}">
            {% trans "Back to Dashboard" %}
        </a>
    </p>
</div>
{% endblock centered_container %}
