{% load i18n %}
{% load static %}

{% load crud_templatetags %}


{% random_id uid as id %}

<div id="{{ id }}">
    {% for field in form %}
        {% if field.field.widget.input_type != 'hidden' %}
        <p class="mb-0">
            <b>
                {{ field.label_tag }}
                {% if field.field.required %}*{% endif %}
            </b>
        </p>
        <div style="padding: 0 0 1rem">
        {% endif %}
        {% if not field.field.api %}
            {% if field.field.widget.input_type == 'select' %}
                <select name="{{ field.name }}" class="form-control" id="id_{{ field.name }}" {% if field.field.required %}required{% endif %}>
                    {% for choice in field.field.choices %}
                        <option value="{{ choice.0 }}" {% if field.value|slugify == choice.0|slugify %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                {{ field }}
            {% endif %}
        {% else %}
            <select name="{{ field.name }}" class="form-control" id="id_{{ field.name }}" @change="callAPI('{{ field.field.api }}')">
                <option value="">...</option>
                <option :value="item.TeacherID" v-for="item in items">
                    [[ item.TeacherName ]]
                </option>
            </select>
        {% endif %}
        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text|safe }}
            </small>
        {% endif %}
        {% if field.errors and field.field.widget.input_type != 'hidden' %}
            <small class="text-danger">
                {{ field.errors }}
            </small>
        {% endif %}

        {% if field.field.widget.input_type != 'hidden' %}
        </div>
        {% endif %}
    {% endfor %}
    {% csrf_token %}

</div>
<script>
var {{ id }} = new Vue({
    el: '[id="{{ id }}"]',
    data() {
        return {
            items: [],
            next_page: "",
            previous_page: "",
            is_loading: true,
        }
    },
    methods: {
        callAPI(url, initial=false) {
            axios
                .get(url)
                .then(response => {
                    this.items = response.data.results;
                    this.next_page = response.data.next;
                    this.previous_page = response.data.previous;
                })
        },
    }
})
</script>

{{ form.media }}
