{% load i18n %}
{% load static %}

{% block menu_pre_buttons %}
{% endblock menu_pre_buttons %}
<li class="nav-item">
    <a class="nav-link"
       href="{% url 'crud_utils:crud_dashboard' %}">
        <span>{% trans "Home" %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{% url 'ricerca:api-redoc' %}"
       target="_blank">
        <span>{% trans "API doc" %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:account' %}">
        <span>{% trans "Account" %}</span>
    </a>
</li>
{% block menu_post_buttons %}
{% endblock menu_post_buttons %}
