{% load i18n %}
{% load static %}

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr class="d-flex">
                <th class="col-5">{% trans "Objects" %}</th>
                <th class="col-3">{% trans "Order" %}</th>
                <th class="col-2">{% trans "Visible" %}</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for object in topic_obj_regarts.objects %}
                <!-- Object Delete Modal -->
                <div class="modal fade"
                    tabindex="-1"
                    role="dialog"
                    id="delete_object_{{object.id}}">
                    <div class="modal-dialog modal-dialog-centered"
                            role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {% trans "Confirm" %}
                                </h5>
                                <button class="close"
                                        type="button"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <svg class="icon">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    {% trans "Do you want to remove this object from this topic?" %}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success btn-sm" href="{% url 'crud_cds_websites_pages:crud_cds_websites_pages_item_delete' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=object.id %}">
                                    {% trans 'Yes, proceed' %}delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Object Delete Modal -->
                <tr class="d-flex">
                    <td class="col-5">
                        {{ object.titolo_it }}
                    </td>
                    <td class="col-3">
                        {{ object.ordine }}
                    </td>
                    <td class="col-2 text-nowrap align-middle">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="visibleCheckBox" disabled {% if object.visibile %}checked{% endif %}>
                            <label class="form-check-label" for="visibleCheckBox">{% trans "Visible" %}</label>
                        </div>
                    </td>
                    <td class="col-2 text-nowrap align-middle">
                        {% if user.is_superuser or object.id_user_mod.pk not in etl_ids %}
                            <a  href="{% url 'crud_cds_websites_pages:crud_cds_websites_pages_object_item_edit' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=object.id %}"
                                class="btn btn-primary btn-xs text-nowrap">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg>
                                {% trans "Edit" %}
                            </a>
                            <a  href=""
                                class="btn btn-danger btn-xs text-nowrap"
                                data-toggle="modal"
                                data-target="#delete_object_{{object.id}}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg>
                                {% trans "Remove" %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a  href="{% url 'crud_cds_websites_pages:crud_cds_websites_pages_object_add' code=cds_website.id topic_id=topic_obj_regarts.topic.id %}"
    class="btn btn-xs btn-block btn-success">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
    </svg> {% trans "Add new" %}
</a>