{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}

{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if is_edit %}
        {% trans "Modifica Incarico Didattico per" %}
    {% else %}
        {% trans "Nuovo Incarico Didattico per" %}
    {% endif %}
    {{ master.titolo_it }}
</h3>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% include "form_template.html" with form=form %}
                <div class="d-flex justify-content-end mt-3" style="gap: 0.5rem">
                    <a href="{% url 'advanced-training:management:advanced-training-detail' master.pk %}?tab=Incarichi Didattici" class="btn btn-secondary">
                        <i class="fas fa-times mr-1"></i> {% trans "Annulla" %}
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save mr-1"></i> {% trans "Salva" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
