{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_laboratory">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_laboratory">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete chosen laboratory?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_delete' code=laboratory.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>

<!-- APPROVA -->

<a href="" class="btn btn-warning btn-xs mr-auto"
   data-toggle="modal"
   data-target="#ask_to_approve_laboratory">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-warning-circle"></use>
    </svg> {% trans "Request for Approval" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="ask_to_approve_laboratory">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to ask for approval for chosen laboratory, this laboratory won't be visible untill it has been approved" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_request_approval' code=laboratory.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>

<!--/APPROVA-->



<hr class="my-4"/>
<h4 style="font-weight: light;" class="mb-4">
    {% trans "Laboratory Identification" %}
</h4>
<h3 style="font-weight: lighter;" class="mb-4">
    {{ laboratory.nome_laboratorio }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% include "form_template.html" with form=form %}
                <hr />
                {% include "form_template.html" with form=risk_type_form %}
                <hr />
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Department" %}</h4>

            <!-- department -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.dipartimento_riferimento|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_unical_department_edit' code=laboratory.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Unical Referent" %}</h4>

            <!-- unical referent -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.referente_compilazione|default:"-" }}
                            {% if not laboratory.matricola_referente_compilazione %}
                                ({% trans "External" %})
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_unical_referent_edit' code=laboratory.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Scientific Director" %}</h4>

            <!-- scientific director -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.responsabile_scientifico|default:"-" }}
                            {% if not laboratory.matricola_responsabile_scientifico %}
                                ({% trans "External" %})
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_scientific_director_edit' code=laboratory.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Safety Manager" %}</h4>

            <!-- Safety Manager -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.preposto_sicurezza|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_safety_manager_edit' code=laboratory.pk %}" class="btn btn-primary btn-xs">
                                {% if laboratory.preposto_sicurezza %}
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                                {% else %}
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                                </svg> {% trans "Add new" %}
                                {% endif %}
                            </a>
                            {% if laboratory.preposto_sicurezza %}
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_safety_manager">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_safety_manager">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete safety manager?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_safety_manager_delete' code=laboratory.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Extra Departments" %}</h4>

            <!-- Extra departments -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for extra_department in extra_departments %}
                    <tr>
                        <td>
                            {{ extra_department.descr_dip_lab|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_extra_department">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_extra_department">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this department?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_extra_departments_delete' code=laboratory.pk data_id=extra_department.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if laboratory.laboratorio_interdipartimentale == 'SI' %}
            <a href="{% url 'crud_laboratories:crud_laboratory_extra_departments_new' code=laboratory.pk %}" class="btn btn-block btn-success">
            {% else %}
            <a href="" class="btn btn-block btn-success disabled">
            {% endif %}
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Laboratory Equipment" %}</h4>

            <!-- laboratory Equipment -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for equipment_piece in laboratory_equipment %}
                    <tr>
                        <td>
                            {{ equipment_piece.descrizione|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_equipment_edit' code=laboratory.pk data_id=equipment_piece.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_equipment">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_equipment">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this piece of equipment?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_equipment_delete' code=laboratory.pk data_id=equipment_piece.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_equipment_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Researches ERC1" %}</h4>
            <!-- laboratory erc1 research -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for research_erc1 in researches_erc1 %}
                    <tr>
                        <td>
                            {{ research_erc1.id_ricerca_erc1__descrizione|default:"-" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_researches_erc1_edit' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                </svg> {% trans "Manage" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Locations" %}</h4>

            <!-- Locations -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for location in locations %}
                    <tr>
                        <td>
                            {{ location.edificio|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_locations_edit' code=laboratory.pk data_id=location.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_location">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_location">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this location?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_locations_delete' code=laboratory.pk data_id=location.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_locations_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Research Staff" %}</h4>

            <!-- Research Staff -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for researcher in researchers %}
                    <tr>
                        <td>
                            {{ researcher.cognomenome_origine|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_researcher">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_researcher">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this researcher?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_research_staff_delete' code=laboratory.pk data_id=researcher.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_research_staff_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Technical Staff" %}</h4>
            <!-- Technical Staff -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for technician in technicians %}
                    <tr>
                        <td>
                            {{ technician.cognomenome_origine|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_technician">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_technician">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this technician?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_technical_staff_delete' code=laboratory.pk data_id=technician.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_technical_staff_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Activities" %}</h4>
            <!-- Activities -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>
                            {% trans activity.id_tipologia_attivita__descrizione|default:"-" %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_activities_edit' code=laboratory.pk data_id=activity.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_activity">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_activity">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this activity?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_activities_delete' code=laboratory.pk data_id=activity.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if activities|length < 3 %}
            <a href="{% url 'crud_laboratories:crud_laboratory_activities_new' code=laboratory.pk %}" class="btn btn-block btn-success">
            {% else %}
            <a href="" aria-disabled="true" class="btn btn-block btn-success disabled">
            {% endif %}
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Provided Services" %}</h4>
            <!-- Provided Services -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for provided_service in provided_services %}
                    <tr>
                        <td>
                            {% trans provided_service.descrizione|default:"-" %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_provided_services_edit' code=laboratory.pk data_id=provided_service.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_provided_service">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_provided_service">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this provided service?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_provided_services_delete' code=laboratory.pk data_id=provided_service.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_provided_services_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Offered Services" %}</h4>
            <!-- Offered Services -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for offered_service in offered_services %}
                    <tr>
                        <td>
                            {% trans offered_service.nome_servizio|default:"-" %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_offered_services_edit' code=laboratory.pk data_id=offered_service.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_offered_service">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_offered_service">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this offered service?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_offered_services_delete' code=laboratory.pk data_id=offered_service.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_offered_services_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>

{% endblock centered_container %}
