{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "New Laboratory" %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% include "form_template.html" with form=form %}
                <hr />
                <h4 style="font-weight: lighter;">{% trans "Choose one Unical referent" %}</h4>
                <div class="mt-5">
                    <span class="choosen_unical_referent">
                        {% include "blocks/includes/teacher_tabs.html" with exclude_forms=1 internal_form=unical_referent_internal_form external_form=unical_referent_external_form person_label=unical_referent_label choosen_person=choosen_unical_referent required=1 uid="id_"|add:unical_referent_label|add:"_tabs" %}
                        <hr />
                    </span>
                </div>
                <h4 style="font-weight: lighter;">{% trans "Choose one department" %}</h4>
                <div class="mt-5">
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    {% include "blocks/crud_departmentslist.html" with uid="department" url=departments_api %}
                    <hr />
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    <hr />
                </div>
                <h4 style="font-weight: lighter;">
                    {% trans "Choose one Scientific Director" %}
                </h4>
                <div class="mt-5">
                    <span class="choosen_scientific_director">
                        {% include "blocks/includes/teacher_tabs.html" with exclude_forms=1 internal_form=scientific_director_internal_form external_form=scientific_director_external_form person_label=scientific_director_label choosen_person=choosen_scientific_director required=1 uid="id_"|add:scientific_director_label|add:"_tabs" %}
                        <hr />
                    </span>
                <button class="btn btn-success btn-block"
                        type="submit"
                        id="lab_new_submitForm">
                    <svg class="icon icon-xs icon-white">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                    </svg>
                    {% trans "Save and Continue" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
