{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if provided_service %}{% trans "Edit provided service for" %}{% else %}{% trans "New provided service for" %}{% endif %} {{ laboratory.nome_laboratorio }}</h3>
<form method="post" novalidate>
    {% include "form_template.html" with form=form %}
    <hr />
    <h4 style="font-weight: lighter;">{% trans "Choose one manager" %}</h4>
    <div class="mt-5">
        <span class="choosen_person">
            {% include "blocks/includes/teacher_tabs.html" with required=1 exclude_forms=1 %}
            <hr />
        </span>
    </div>
    <hr />
    {% include "includes/form_submit.html" %}
</form>
{% endblock centered_container %}
