{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if edit|default:False %}{% trans "Edit " %}{% else %}{% trans "New " %}{% endif %} {{item_label|default:"item"}} {% trans " for " %} {{ laboratory.nome_laboratorio }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="POST" novalidate>
            {% include "blocks/includes/choose_person.html" with required=1 %}
            <hr />
            {% include "form_template.html" with form=internal_form %}
            {% include "form_submit_warning.html" with active=laboratory.visibile %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
