{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "New Laboratory" %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% include "form_template.html" with form=form %}
                <hr />
                <h4 style="font-weight: lighter;">{% trans "Choose one department" %}</h4>
                <div class="mt-5">
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    {% include "blocks/crud_departmentslist.html" with uid="id_2" url=departments_api %}
                    <hr />
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    <hr />
                </div>
                <div id="unical_referent">
                <h4 style="font-weight: lighter;">
                    {% trans "Choose one Unical referent" %}
                </h4>
                <div class="mt-5">
                    {% include "blocks/crud_laboratories_teachers_tabs.html" with internal_form=unical_referent_internal_form external_form=unical_referent_external_form new_laboratory=1 required=1 person_lable=unical_referent_lable person=choosen_unical_referent uid="id_1" %}
                    <hr />
                </div>
                </div>
                <div id="scientific_director">
                <h4 style="font-weight: lighter;">
                    {% trans "Choose one Scientific Director" %}
                </h4>
                <div class="mt-5">
                    {% include "blocks/crud_laboratories_teachers_tabs.html" with internal_form=scientific_director_internal_form external_form=scientific_director_external_form new_laboratory=1 required=1 person_lable=scientific_director_lable person=choosen_scientific_director uid="id_3" %}
                    <hr />
                </div>
                </div>
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
