{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<a href="" class="btn btn-danger btn-xs"
   data-toggle="modal"
   data-target="#delete_laboratory">
    <svg class="icon icon-xs icon-white">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Remove" %}
</a>
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="delete_laboratory">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Confirm" %}
                </h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Do you want to delete chosen laboratory?" %}
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_delete' code=laboratory.pk %}">
                    {% trans 'Yes, proceed' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4"/>
<h3 style="font-weight: lighter;" class="mb-4">
    {{ laboratory.nome_laboratorio }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% include "form_template.html" with form=form %}
                <br />
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Department" %}</h4>

            <!-- department -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ department_data.dipartimento_riferimento|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_unical_department_data_edit' code=laboratory.pk department_id=department_data.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Unical Referent" %}</h4>

            <!-- unical referent -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.referente_compilazione|default:"-" }}
                            {% if not laboratory.matricola_referente_compilazione %}
                                ({% trans "External" %})
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_unical_referent_edit' code=laboratory.pk data_id=referent_data.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Scientific Director" %}</h4>

            <!-- scientific director -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.responsabile_scientifico|default:"-" }}
                            {% if not laboratory.matricola_responsabile_scientifico %}
                                ({% trans "External" %})
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_scientific_director_edit' code=laboratory.pk data_id=scientific_director_data.pk %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Safety Responsible" %}</h4>

            <!-- safety responsible -->
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ laboratory.preposto_sicurezza|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_safety_responsible_edit' code=laboratory.pk data_id=safety_responsible_data.pk %}" class="btn btn-primary btn-xs">
                                {% if laboratory.matricola_preposto_sicurezza %}
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                                {% else %}
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                                </svg> {% trans "Add new" %}
                                {% endif %}
                            </a>
                            {% if laboratory.matricola_preposto_sicurezza %}
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_safety_responsible">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_safety_responsible">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete safety responsible?" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_safety_responsible_delete' code=laboratory.pk data_id=safety_responsible_data.pk %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Extra Departments" %}</h4>

            <!-- extra departments -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for extra_department in extra_departments %}
                    <tr>
                        <td>
                            {{ extra_department.descr_dip_lab|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_safety_responsible">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_safety_responsible">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this department" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_extra_departments_delete' code=laboratory.pk data_id=extra_department.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if laboratory.laboratorio_interdipartimentale == 'SI' %}
            <a href="{% url 'crud_laboratories:crud_laboratory_extra_departments_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">{% trans "Laboratory Equipment" %}</h4>

            <!-- laboratory Equipment -->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for equipment_piece in laboratory_equipment %}
                    <tr>
                        <td>
                            {{ equipment_piece.descrizione|default:"-" }}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'crud_laboratories:crud_laboratory_equipment_edit' code=laboratory.pk data_id=equipment_piece.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg> {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#delete_equipment">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg> {% trans "Remove" %}
                            </a>
                            <div class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    id="delete_equipment">
                                <div class="modal-dialog modal-dialog-centered"
                                        role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {% trans "Confirm" %}
                                            </h5>
                                            <button class="close"
                                                    type="button"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans "Do you want to delete this piece of equipment" %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success btn-sm" href="{% url 'crud_laboratories:crud_laboratory_equipment_delete' code=laboratory.pk data_id=equipment_piece.id %}">
                                                {% trans 'Yes, proceed' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_laboratories:crud_laboratory_equipment_new' code=laboratory.pk %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>


<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
