{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}
{% load management_templatetags %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/cds-websites-collapse.css' %}" type="text/css" />
<style>
    .btn:disabled {
        pointer-events: none;
        opacity: 0.2;
    }
    .dropdown-menu.show::before {
        display: none !important;
    }
</style>
{% endblock %}

{% block centered_container %}

{% get_current_language as LANGUAGE_CODE %}

<h3 style="font-weight: normal;">
    {{ cds_website.cds.cds_cod }} -
    {% if LANGUAGE_CODE == "it" or not cds_website.cds.nome_cds_eng %}
        {{ cds_website.cds.nome_cds_it }}
    {% else %}
        {{ cds_website.cds.nome_cds_eng }}
    {% endif %}
</h3>
<hr>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table id="sortable" class="table table-sm table-striped table-responsive-xs mb-0">
                    <thead class="table-white sticky-top">
                        <tr class="d-flex">
                            <th class="col-auto text-center">
                                <svg class="icon mr-2" style="visibility: hidden;">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-down-triangle"></use>
                                </svg>
                            </th>
                            <th class="col">{% trans "Extra" %}</th>
                            <th class="col-2 text-center text-truncate">{% trans "Visible" %}</th>
                            <th class="col-auto text-right">
                                <svg class="icon" style="visibility: hidden;">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                                </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for regart_extra in extras_list %}
                            <!-- Extras list Remove Modal -->
                            <div class="modal fade"
                            tabindex="-1"
                            role="dialog"
                            id="remove_regart_extra_list_{{regart_extra.id}}">
                            <div class="modal-dialog modal-dialog-centered"
                                    role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            {% trans "Confirm" %}
                                        </h5>
                                        <button class="close"
                                                type="button"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <svg class="icon">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            {% trans "Do you really want to remove this item?" %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success btn-sm" href="{% url 'cds-websites:management:cds-websites-extra-delete' code=cds_website.id topic_id=topic_id data_id=regart.id extra_id=regart_extra.id %}">
                                            {% trans 'Yes, proceed' %}
                                        </a>
                                    </div>
                                </div>
                                <!-- /Extras list Remove Modal -->
                                <tr class="d-flex" data-id="{{ regart_extra.id }}">
                                    <td class="col-auto align-content-center handle">
                                        <button type="button" class="btn move-up p-0" {% if forloop.first %}disabled{% endif %}>
                                            <svg class="icon mr-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-up-triangle"></use>
                                            </svg>
                                        </button>
                                        <br>
                                        <button type="button" class="btn move-down p-0" {% if forloop.last %}disabled{% endif %}>
                                            <svg class="icon mr-2">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-down-triangle"></use>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="col align-content-center">
                                        {{regart_extra.testo_it}}     
                                    </td>
                                    <td class="col-2 align-content-center text-center">
                                    {% if regart_extra.visibile %}
                                        <svg class="icon icon-sm icon-success">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                                        </svg>
                                        {% else %}
                                        <svg class="icon icon-sm icon-danger">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
                                        </svg>
                                    {% endif %}
                                    </td>
                                    <td class="col-auto align-content-center text-right text-no-wrap">
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" type="button" class="btn dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg class="icon">
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="link-list-wrapper">
                                                    <ul class="link-list text-nowrap">
                                                        <li>
                                                            <a  href="{% url 'cds-websites:management:cds-websites-extra-edit' code=cds_website.id topic_id=topic_id data_id=regart.id extra_id=regart_extra.id %}"
                                                                class="list-item left-icon">
                                                                <svg class="icon icon-dark left p-1 pl-2 mt-2">
                                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                                                </svg>
                                                                <span class="text-primary">
                                                                    {% trans "Edit" %}
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span class="divider"></span>
                                                        </li>
                                                        <li>
                                                            <a  href="javascript:void(0)"
                                                                class="list-item left-icon"
                                                                data-toggle="modal"
                                                                data-target="#remove_regart_extra_list_{{regart_extra.id}}">
                                                                <svg class="icon icon-danger left p-1 pl-2 mt-2">
                                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                                                </svg>
                                                                <span class="text-danger">
                                                                    {% trans "Remove" %}
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <input type="hidden" name="item_order" value="{{ regart_extra.id }}">
                                </tr>
                        {% endfor %}
                        {% if extras_list|length < 1 %}
                            <tr class="d-flex">
                                <td class="col-auto align-content-center handle">
                                    <svg class="icon mr-2" style="visibility: hidden;">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-up-triangle"></use>
                                    </svg>
                                </td>
                                <td class="col align-content-center">{% trans "None" %}</td>
                                <td class="col-2 align-content-center text-center">-</td>
                                <td class="col-auto align-content-center text-right text-no-wrap">
                                    <svg class="icon" style="visibility: hidden;">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-more-actions"></use>
                                    </svg>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a  href="{% url 'cds-websites:management:cds-websites-extra-new' code=cds_website.id topic_id=topic_id data_id=regart.id %}"
                    class="btn btn-xs btn-block btn-success">
                    <svg class="icon icon-xs icon-white">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                    </svg> {% trans "Add new" %}
                </a>
                {% if extras_list|length > 0%}
                    <hr>
                    <a href="javascript:void(0)"
                        class="btn btn-xs btn-block btn-success"
                        type="button"
                        data-toggle="modal"
                        data-target="#save_order_action">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                        </svg>
                        {% trans "Save order" %}
                    </a>
                    <!-- Order modal -->
                    <div class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        id="save_order_action">
                        <div class="modal-dialog modal-dialog-centered"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <svg class="icon">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% block message %}
                                        {% trans "Do you want to confirm the entered data?" %}
                                        {% endblock %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-success"
                                            type="submit"
                                            id="save_order_submitForm"
                                            value="{% trans 'Yes, proceed' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Order modal -->
                {% endif %}
            </form>

        </div>
    </div>
</div>

{% endblock centered_container %}

{% block extra_scripts %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        function updateButtonStates() {
            let rows = document.querySelectorAll('#sortable tbody tr');
            rows.forEach((row, index) => {
                let upButton = row.querySelector('.move-up');
                let downButton = row.querySelector('.move-down');
                upButton.disabled = (index === 0);
                downButton.disabled = (index === rows.length - 1);
            });
        }

        function moveRow(row, direction) {
            let parent = row.parentNode;
            if (direction === 'up' && row.previousElementSibling) {
                parent.insertBefore(row, row.previousElementSibling);
            } else if (direction === 'down' && row.nextElementSibling) {
                parent.insertBefore(row.nextElementSibling, row);
            }
            updateButtonStates();
        }

        document.querySelectorAll('.move-up').forEach(button => {
            button.addEventListener('click', function () {
                let row = this.closest('tr');
                moveRow(row, 'up');
            });
        });

        document.querySelectorAll('.move-down').forEach(button => {
            button.addEventListener('click', function () {
                let row = this.closest('tr');
                moveRow(row, 'down');
            });
        });

        updateButtonStates();
    });
</script>
{% endblock extra_scripts%}