{% load crud_templatetags %}


<div class="ricerca-crud-datetimepicker-wrapper">
    <input type="{{ widget.type }}"
           name="{{ widget.name }}"
           class="form-control ricerca-crud-datetimepicker"
           {% if widget.value != None %}
           value="{{ widget.value|stringformat:'s' }}"
           {% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
</div>

<!-- datetime picker -->
<script>
{% settings_value "JS_DEFAULT_DATETIME_FORMAT" as js_default_datetime_value %}
{% settings_value "LANGUAGE_CODE" as language_code %}

$(function () {
    $('.ricerca-crud-datetimepicker').datetimepicker({
        format:"{{ js_default_datetime_value }}",
        showTodayButton:true,
        locale: "{{ language_code }}"
    });
});
</script>
