{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% if choosen_department %}{% trans "Edit department for" %}{% else %}{% trans "New department for" %}{% endif %} {{ company.nome_azienda }}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <span class="choosen_department_name">
                {% if choosen_department %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a department to proceed" %}
                </div>
                {% endif %}
            </span>
            {% include "blocks/crud_departmentslist.html" with uid="id_1" %}
            <hr />
            <span class="choosen_department_name">
                {% if choosen_department %}
                <div class="alert alert-success" role="alert">
                    {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  {% trans "Choose a department to proceed" %}
                </div>
                {% endif %}
            </span>
            <hr />
            <form method="post">
                {% include "form_template.html" with form=form %}
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
