{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {% trans "New Company" %}
</h3>
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% include "form_template.html" with form=form %}
                <hr />
                <h4 style="font-weight: lighter;">{% trans "Choose one department" %}</h4>
                <div class="mt-5">
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    {% include "form_template.html" with form=inventor_form %}
                    {% include "blocks/crud_departmentslist.html" with uid="id_1" url=departments_api %}
                    <hr />
                    <span class="choosen_department_name">
                        {% if choosen_department %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen department' %} <b>{{ choosen_department }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a department to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    <hr />
                </div>
                <h4 style="font-weight: lighter;">{% trans "Choose one Unical referent" %}</h4>
                <div class="mt-5">
                    <span class="choosen_person_name">
                        {% if choosen_person %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a person to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    {% include "form_template.html" with form=referent_form %}
                    {% include "blocks/crud_teacherslist.html" with uid="id_2" url=teachers_api %}
                    <hr />
                    <span class="choosen_person_name">
                        {% if choosen_person %}
                        <div class="alert alert-success" role="alert">
                            {% trans 'Choosen person' %} <b>{{ choosen_person }}</b>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          {% trans "Choose a person to proceed" %}
                        </div>
                        {% endif %}
                    </span>
                    <hr />
                </div>
                {% include "includes/form_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock centered_container %}
