{% extends "storage_crud_base.html" %}

{% load i18n %}
{% load static %}


{% block centered_container %}
<h3 style="font-weight: lighter;" class="mb-4">
    {{ teacher }}
</h3>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">

            <h4 style="font-weight: lighter;">
                {% trans "Personal data" %}
            </h4>

            {% if other_data %}
            <div class="text-right mb-3">
                <a href="{% url 'crud_teachers:crud_teacher_other_data_edit' code=code data_id=other_data.pk %}" class="btn btn-primary btn-xs">
                    <svg class="icon icon-xs icon-white">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                    </svg> {% trans "Edit" %}
                </a>
                <a href="" class="btn btn-danger btn-xs"
                   data-toggle="modal"
                   data-target="#delete_other_data_{{ other_data.pk }}">
                    <svg class="icon icon-xs icon-white">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                    </svg> {% trans "Remove" %}
                </a>
            </div>
            <div class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 id="delete_other_data_{{ other_data.pk }}">
                <div class="modal-dialog modal-dialog-centered"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% trans "Confirm" %}
                            </h5>
                            <button class="close"
                                    type="button"
                                    data-dismiss="modal"
                                    aria-label="Close">
                               <svg class="icon">
                                  <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                               </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {% trans "Do you want to delete data set?" %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-sm" href="{% url 'crud_teachers:crud_teacher_other_data_delete' code=code data_id=other_data.pk %}">
                                {% trans 'Yes, proceed' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td><b>{% trans "Photo" %}</b></td>
                        <td>
                            {% if other_data.path_foto %}
                            <img src="{% get_media_prefix %}{{ other_data.path_foto }}" width=40/>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Curriculum" %}</b>
                            <img src="{% static 'images/ita.jpg' %}" width="15" />
                        </td>
                        <td>
                            {% if other_data.path_cv_ita %}
                            <a href="{% get_media_prefix %}{{ other_data.path_cv_ita }}" target="_blank">
                                {% get_media_prefix %}{{ other_data.path_cv_ita }}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Curriculum" %}</b>
                            <img src="{% static 'images/eng.jpg' %}" width="15" />
                        </td>
                        <td>
                            {% if other_data.path_cv_en %}
                            <a href="{% get_media_prefix %}{{ other_data.path_cv_en }}" target="_blank">
                                {% get_media_prefix %}{{ other_data.path_cv_en }}
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Short Bio" %}</b>
                            <img src="{% static 'images/ita.jpg' %}" width="15" />
                        </td>
                        <td>{{ other_data.breve_bio|safe|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Short Bio" %}</b>
                            <img src="{% static 'images/eng.jpg' %}" width="15" />
                        </td>
                        <td>{{ other_data.breve_bio_en|safe|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Reception Hours" %}</b>
                            <img src="{% static 'images/ita.jpg' %}" width="20" />
                        </td>
                        <td>{{ other_data.orario_ricevimento|safe|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>{% trans "Reception Hours" %}</b>
                            <img src="{% static 'images/eng.jpg' %}" width="20" />
                        </td>
                        <td>{{ other_data.orario_ricevimento_en|safe|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td><b>{% trans "ORCID" %}</b></td>
                        <td>{{ other_data.orcid|default:"-" }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <a href="{% url 'crud_teachers:crud_teacher_other_data_new' code=code %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Board" %}
            </h4>

            {% include "blocks/crud_teacher_news.html" with uid="id_1" url=url_news %}

            <a href="{% url 'crud_teachers:crud_teacher_board_data_new' code=code %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">
                {% trans "Teaching Materials" %}
            </h4>

            {% include "blocks/crud_teacher_books.html" with uid="id_2" url=url_books %}

            <a href="{% url 'crud_teachers:crud_teacher_materials_data_new' code=code %}" class="text-center btn btn-block btn-success btn-xs">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
        </div>
    </div>
</div>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h4 style="font-weight: lighter;">Logs</h4>
            {% include "obj_logs.html" with logs=logs %}
        </div>
    </div>
</div>
{% endblock centered_container %}
