{% load i18n %}
{% load static %}
{% load crud_templatetags %}

{% block cds_page %}

{% with page_name=page_name|default:"Page" topic_obj_regarts=topic_obj_regarts|default:None cds=cds|default:None %}

<div id="collapseDiv_{{page_name}}_{{topic_obj_regarts.topic.id}}" class="collapse-div collapse-left-icon">
    <div class="collapse-header" id="heading_{{page_name}}_{{topic_obj_regarts.topic.id}}">
        <button data-toggle="collapse" data-target="#collapse_{{page_name}}_{{topic_obj_regarts.topic.id}}" aria-expanded="false" aria-controls="collapse_{{page_name}}_{{topic_obj_regarts.topic.id}}">
            <h4 style="font-weight: lighter;" class="pb-2">
                {% if LANGUAGE_CODE == "it" or not topic_obj_regarts.topic.descr_topic_en %}
                {{ topic_obj_regarts.topic.descr_topic_it }}
                {% else %}
                {{ topic_obj_regarts.topic.descr_topic_en }}
                {% endif %}
            </h4>
        </button>
    </div>
    <div id="collapse_{{page_name}}_{{topic_obj_regarts.topic.id}}" class="collapse" role="region" aria-labelledby="heading_{{page_name}}_{{topic_obj_regarts.topic.id}}">
        <div class="collapse-body">
            <!-- Reg Articles -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-7">{% trans "Articles" %}</th>
                        <th class="col-2 text-center">{% trans "Order" %}</th>
                            <th class="col-2 text-center">{% trans "Visible" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for regart in topic_obj_regarts.regarts %}
                        <!-- Regart Remove Modal -->
                        <div class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        id="remove_regart_{{regart.id}}">
                        <div class="modal-dialog modal-dialog-centered"
                                role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans "Confirm" %}
                                    </h5>
                                    <button class="close"
                                            type="button"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <svg class="icon">
                                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% trans "Do you want to remove this regulament article?" %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-success btn-sm" href="{% url 'crud_cds_websites:crud_cds_websites_item_delete' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=regart.id %}">
                                        {% trans 'Yes, proceed' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Regart Remove Modal -->
                    <tr>
                        <td class="col-7">
                            {% if LANGUAGE_CODE == "it" or not regart.titolo_en %}
                            {{ regart.titolo_it }}
                            {% else %}
                            {{ regart.titolo_en }}
                            {% endif %}
                        </td>
                        <td class="col-2 text-center">
                            {{ regart.ordine }}
                        </td>
                        <td class="col-2 text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="visibleCheckBox" disabled {% if regart.visibile %}checked{% endif %}>
                                <label class="form-check-label" for="visibleCheckBox">{% trans "Visible" %}</label>
                            </div>
                        </td>
                        <td class="col-3 text-right">
                            <a href="{% url 'crud_cds_websites:crud_cds_websites_regart_edit' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=regart.id %}" class="btn btn-primary btn-xs">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                </svg>
                                {% trans "Edit" %}
                            </a>
                            <a href="" class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#remove_regart_{{regart.id}}">
                                <svg class="icon icon-xs icon-white">
                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                </svg>
                                {% trans "Remove" %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_cds_websites:crud_cds_websites_regart_new' code=cds_website.id topic_id=topic_obj_regarts.topic.id %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
            <!-- /Reg Articles -->
            <hr />
            <!-- Objects -->
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="col-7">{% trans "Objects" %}</th>
                        <th class="col-2 text-center">{% trans "Order" %}</th>
                        <th class="col-2 text-center">{% trans "Visible" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in topic_obj_regarts.objects %}
                        <!-- Object Delete Modal -->
                        <div class="modal fade"
                            tabindex="-1"
                            role="dialog"
                            id="delete_object_{{object.id}}">
                            <div class="modal-dialog modal-dialog-centered"
                                    role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            {% trans "Confirm" %}
                                        </h5>
                                        <button class="close"
                                                type="button"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <svg class="icon">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            {% trans "Do you want to delete this object?" %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success btn-sm" href="{% url 'crud_cds_websites:crud_cds_websites_item_delete' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=object.id %}">
                                            {% trans 'Yes, proceed' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Object Delete Modal -->
                        <tr>
                            <td class="col-7">
                                {% if LANGUAGE_CODE == "it" or not object.titolo_en %}
                                {{ object.titolo_it }}
                                {% else %}
                                {{ object.titolo_en }}
                                {% endif %}
                            </td>
                            <td class="col-2 text-center">
                                {{ object.ordine }}
                            </td>
                            <td class="col-2 text-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="visibleCheckBox" disabled {% if object.visibile %}checked{% endif %}>
                                    <label class="form-check-label" for="visibleCheckBox">{% trans "Visible" %}</label>
                                </div>
                            </td>
                            <td class="col-3 text-right">
                                <a href="{% url 'crud_cds_websites:crud_cds_websites_object_edit' code=cds_website.id topic_id=topic_obj_regarts.topic.id data_id=object.id %}" class="btn btn-primary btn-xs">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg>
                                    {% trans "Edit" %}
                                </a>
                                <a href="" class="btn btn-danger btn-xs"
                                    data-toggle="modal"
                                    data-target="#delete_object_{{object.id}}">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
                                    </svg>
                                    {% trans "Remove" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crud_cds_websites:crud_cds_websites_object_new' code=cds_website.id topic_id=topic_obj_regarts.topic.id %}" class="btn btn-block btn-success">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
            </a>
            <!-- /Objects -->
        </div>
    </div>
</div>

{% endwith %}

{% endblock %}