{% extends "includes/vue_list.html" %}

{% load i18n %}
{% load static %}
{% load crud_templatetags %}



{% block content %}

<div id="{{ id }}">

    <div v-if="(initial_items) || parameters">

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body">

                            {% include "includes/vue_search_input.html" with id=id %}

                            {% block filters_cdswebsitelist %}

                            <div class="row form-group">
                                <div class="col-sm form-group mb-0">
                                        <loading-icon
                                            v-if="is_loading_academicyears"
                                            :loader_source="loader_source_academicyears">
                                        </loading-icon>
                                        <div v-else>
                                            <label for="{{ id }}_academic_year_input">
                                                {% trans "Academic Year" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_academic_year_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_academic_year_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                  <option value="" v-if="initial_academic_year==''">
                                                      - {% trans 'Choose an option' %} -
                                                  </option>
                                                  <option v-for="item in academic_years_filter"
                                                          v-if="item.AcademicYear != '{{ cds_exclude_year }}'"
                                                          :value="item.AcademicYear"
                                                          :selected="item.AcademicYear == selected_academic_year">
                                                      [[ item.AcademicYear ]]/[[ item.AcademicYear + 1 ]]
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm form-group mb-0">
                                        <div>
                                            <label for="{{ id }}_cds_language_input">
                                                {% trans "Course of study language" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_cds_language_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_cds_language_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in cds_languages_filter"
                                                            :value="item"
                                                            :selected="item == selected_language">
                                                        [[ item ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            {% endblock filters_cdswebsitelist %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="item in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border-top:1px solid #b71918">
                            <div class="card-body p-3">
                                <h5>
                                    <a :href="item.Id+'/'" class="no-color">
                                        <b>[[ item.CDSName ]]</b>
                                    </a>

                                </h5>
                                <div class="row">
                                    <div class="col-12 col-md-auto me-md-4">
                                        <b>
                                            [[ item.CDSCourseClassName ]]
                                        </b>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.CDSAcademicYear">
                                        <small>
                                            {% trans "A.Y." %} >
                                            <b>[[ item.CDSAcademicYear ]]/[[ item.CDSAcademicYear + 1]]</b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto" v-if="item.CDSDuration">
                                        <small>
                                            [[ labels['CDSDuration'] ]] >
                                            <b>[[ item.CDSDuration ]] {% trans "years" %}</b>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-auto me-md-4" v-if="item.CDSLanguage">
                                        <small>
                                            [[ labels['CDSLanguage'] ]] >
                                            <b>[[ item.CDSLanguage.join(', ') ]] </b>
                                        </small>
                                    </div>
                                </div>
                                <a :href="item.Id+'/'" class="btn btn-sm btn-primary float-right">
                                    <svg class="icon icon-xs icon-white">
                                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                                    </svg> {% trans "Edit" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict = {}

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value

    // academic year
    let academic_year = document.getElementById('{{ id }}_academic_year_input')
    if (academic_year && academic_year.value) dict['academic_year'] = academic_year.value

    // cds language
    {% block filters_language_script %}
    let cds_language = document.getElementById('{{ id }}_cds_language_input')
    if (cds_language && cds_language.value) dict['cdslanguage'] = cds_language.value
    {% endblock filters_language_script %}

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}

{% get_current_language as LANGUAGE_CODE %}

{% settings_value "ALLOWED_CDS_LANGUAGES" as allowed_languages %}
{% settings_value "CURRENT_YEAR" as current_year %}

initial_academic_year: {{ id }}_get_param('academicyear') || '{{ current_year }}',

selected_academic_year: this.getItemFromSession("{{ id }}", 'academic_year') || {{ id }}_get_param('academic_year'),
selected_language: this.getItemFromSession("{{ id }}", 'cdslanguage'),
selected_search: this.getItemFromSession("{{ id }}", 'search'),


is_loading_academicyears: true,

loader_source_academicyears: '{% url 'ricerca:academicyears' %}?lang={{ LANGUAGE_CODE }}&page_size=100',

academic_years_filter: [],
cds_languages_filter: {{ allowed_languages|safe }},
{% endblock extra_data %}

{% block extra_mounted %}
// if url is pre-filtered with preferred coursetypes
// get them, else show all

this.callAcademicYears();

this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}

{% block method_search %}
search(keyword=null, value=null) {
    if (value) this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters(keyword, value));
    else this.parameters = {{ id }}_encodeQueryData({{ id }}_get_form_paramenters());
    this.CallURL(this.url + this.parameters);
},
{% endblock method_search %}
{% block extra_methods %}
callAcademicYears() {
    axios
        .get(this.loader_source_academicyears)
        .then(response => {
            this.academic_years_filter = response.data.results;
            this.is_loading_academicyears = false
        })
},
{% endblock extra_methods %}
{% block method_callurl %}
CallURL(url, initial=false) {
    this.is_loading = true
    this.loader_source = url
    if (!url.includes("academic_year") && this.initial_academic_year)
        url = url + '&academic_year=' + this.initial_academic_year
    axios
        .get(url)
        .then(response => {
            if(initial) this.initial_items = response.data.results;
            this.items = response.data;
            this.next_page = response.data.next;
            this.previous_page = response.data.previous;
            this.labels = response.data.labels;
            this.is_loading = false;
        })
},
{% endblock method_callurl %}
</script>
